<!-- Start SSTableView interface definition -->
<div class='SSTableView' uiclass="SSTableView">
  
  <!-- Start TableView Header -->
  <div class="SSControlView">
    <!-- we need a cell class for the following -->
    <div class="SSModel SSColumnHeading SSDefaultCursor">
      <span class="SSColumnHeadingTitle"></span>
      <div class="SSColumnOrder"></div>
      <div class="SSResize"></div>
    </div>
  </div>
  <!-- End TableView Header -->
  
  <div class="SSScrollView">
    <table class='SSContentView' sortColumns="1">
  
      <!-- start the table definition-->
      <colgroup class='SSDefinition'>
        <col name="selected" width="75"></col>
        <col name="space" width="150" resizeable="1"></col>
        <col name="summary" width="250" resizeable="1"></col>
        <col name="username" width="150" resizeable="1"></col>
        <col name="created" width="150" order="descending" resizeable="1"></col>
      </colgroup>
      <!-- end the control view -->
  
      <!-- define the model -->
      <tbody>
        <tr class="SSRow SSModel" uiclass='SSCustomTableRow'>
          <td name="selected"><input class="SSActionCell" type="checkbox"></input></td>
          <td name="space"><img/><span/></td>
          <td name="summary"><div class="SSTextCell">summary</div></td>
          <td name="username">dnolen</td>
          <td name="created">Just created.</td>
        </tr>
      </tbody>
      <!-- end the model -->
  
    </table>
    <!-- End SSTableView interface definition -->
    
  </div>
  <!-- End Wrapping ScrollArea for table view -->
  
</div>
<!-- End Actual Table View -->