/*
  Base SSTableView styles
*/

.SSScrollArea
{
  width: 800px;
  height: 400px;
  overflow: auto;
}

table.SSTableView
{
  background-color: #e6e4a3;
  border-collapse: collapse;
  
  font-family: helvetica;
  font-size: 12px;
}

/*
  Table Column Styles
*/

/*
  Table Control Styles
*/

.SSTableView > .SSControlView
{
  border-bottom: solid #000 1px;
}

.SSTableView > .SSControlView .SSColumnHeading
{
  border-right: solid #000 1px;
  max-width: 400px;
  min-width: 150px;
}

.SSTableView > .SSControlView .SSColumnHeading.SSSelectColumn
{
  min-width: 75px;
}

.SSTableView > .SSControlView .SSColumnHeading .SSResize
{
  float: right;
  height: 22px;
  width: 4px;
  cursor: col-resize;
}

.SSTableView > .SSControlView .SSColumnHeading div.SSResize:hover
{
  background-color: #f55;
}

.SSTableView > .SSControlView .SSColumnHeading div.SSResize.SSActive
{
  background-color: #f55;
}

.SSTableView > .SSControlView > tr > th > .SSColumnHeadingTitle
{
  float: left;
  padding: 4px;
}

.SSTableView > .SSControlView > tr > th > .SSAscendingOrder
{
  width: 8px;
  height: 8px;
  background-color: #f00;
  float: right;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.SSTableView > .SSControlView > tr > th > .SSDescendingOrder
{
  width: 8px;
  height: 8px;
  background-color: #f00;
  float: left;
}

.SSTableView > .SSDefinition col.SSActive
{
  background-color: #ccc;
}

.SSTableView > .SSControlView .SSColumnHeading .SSColumnOrder
{
  visibility: hidden;
}

.SSTableView > .SSControlView .SSColumnHeading.SSActive .SSColumnOrder
{
  visibility: visible;
}

/*
  Table Content View Styles
*/

.SSTableView > .SSContentView .SSRow.SSActive
{
  background-color: #ccc;
}

.SSTableView > .SSContentView .SSRow td[name=selected]
{
  text-align:center;
}

.SSTextCell
{
  height: 12px;
  overflow: hidden;
}
