<!-- Start SSTableView interface definition -->
<table class='SSTableView' uiclass='SSTableView'>
  
  <!-- start the table definition-->
  <colgroup class='SSDefinition'>
    <col name="fullname"></col>
    <col name="address"></col>
  </colgroup>
  <!-- end the control view -->
  
  <!-- start the control view -->
  <thead class="SSControlView">
    <tr>
      <th><span class="SSColumnHeading">Full Name</span><div class="SSColumnOrder SSAscendingOrder"></div></th>
      <th><span class="SSColumnHeading">Address</span><div class="SSColumnOrder SSAscendingOrder"></div></th>
    </tr>
  </thead>
  <!-- end the control view -->
  
  <!-- define the model -->
  <tbody class="SSContentView">
    <tr class="SSRow SSModel">
      <td name="fullname">David</td>
      <td name="address">Nolen</td>
    </tr>
  </tbody>
  <!-- end the model -->
  
</div>
<!-- End SSTableView interface definition -->