/*
  Base SSTableView styles
*/

.SSTableView
{
  background-color: #e6e4a3;
}

.SSTableView > .SSControlView > tr > th > .SSColumnHeadingTitle
{
  float: left;
}

.SSTableView > .SSControlView > tr > th > .SSAscendingOrder
{
  width: 8px;
  height: 8px;
  background-color: #f00;
  float: right;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.SSTableView > .SSControlView > tr > th > .SSDescendingOrder
{
  width: 8px;
  height: 8px;
  background-color: #f00;
  float: left;
}

.SSTableView > .SSDefinition col.SSActive
{
  background-color: #ccc;
}

.SSTableView > .SSContentView .SSRow.SSActive
{
  background-color: #ccc;
}

