/*
  Base SSTableView styles
*/

.SSTableView
{
  width: 100%;
  height: 100%;
  background-color: #e6e4a3;
  font-family: helvetica;
  font-size: 12px;
  overflow: hidden;
}

.SSTableView > .SSControlView
{
  height: 16px;
}

.SSTableView > .SSScrollView
{
  height: 100%;
  overflow: scroll;
}

.SSTableView > .SSScrollView table.SSContentView
{
  border-collapse: collapse;
  font-family: helvetica;
  font-size: 12px;
}

/*
  Table Column Styles
*/

.SSTableView > .SSScrollView > .SSContentView > .SSDefinition > col.SSActive
{
  background-color: #ccc;
}

/*
  Table Control Styles
*/

.SSTableView > .SSControlView
{
  border-bottom: solid #000 1px;
  overflow: hidden;
  height: 20px;
}

.SSTableView > .SSControlView > .SSColumnHeading
{
  float: left;
  border-right: solid #000 1px;
  overflow: hidden;
}

.SSTableView > .SSControlView > .SSColumnHeading.SSActive
{
  background-color: #ccc;
}

.SSTableView > .SSControlView > .SSColumnHeading .SSResize
{
  float: right;
  height: 22px;
  width: 4px;
  cursor: col-resize;
}

.SSTableView > .SSControlView > .SSColumnHeading div.SSResize:hover
{
  background-color: #f55;
}

.SSTableView > .SSControlView > .SSColumnHeading  div.SSResize.SSActive
{
  background-color: #f55;
}

.SSTableView > .SSControlView > .SSColumnHeading > .SSColumnHeadingTitle
{
  float: left;
  padding: 4px;
}

.SSTableView > .SSControlView > .SSColumnHeading > SSColumnOrder.SSAscendingOrder
{
}

.SSTableView > .SSControlView > .SSColumnHeading > SSColumnOrder.SSDescendingOrder
{
}

.SSTableView > .SSControlView > .SSColumnHeading > .SSColumnOrder
{
  visibility: hidden;
}

.SSTableView > .SSControlView > .SSColumnHeading.SSActive > .SSColumnOrder
{
  visibility: visible;
  width: 8px;
  height: 8px;
  background-color: #f00;
  float: right;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

/*
  Table Content View Styles
*/

.SSTableView > .SSScrollView > .SSContentView .SSRow
{
  border-collapse: separate;
}

.SSTableView > .SSScrollView > .SSContentView .SSRow.SSActive
{
  background-color: #ccc;
}

.SSTableView > .SSScrollView > .SSContentView .SSRow td[name=selected]
{
  text-align:center;
}

.SSTextCell
{
  height: 12px;
  overflow: hidden;
}
