<div id="SpaceMenu" 
     class="SSSpaceMenu" 
     uiclass="SSSpaceMenu"
     outlet="SSConsole">

  <ul id="SpaceMenuList" 
      class="SSListView" 
      uiclass="SSListView"
      outlet="SSConsole"
      options="{
        delegate: 'SSConsole'
      }">
    <li class="SSCell SpaceMenuListCell" 
        uiclass="SpaceMenuListCell"
        options="{
          properties: ['name', 'icon'],
        }">
      <img class="icon"></img>
      <span class="name"></span>
      <span class="handle"></span>
    </li>
  </ul>

</div>