<div id="SpaceMenu" 
     class="SSSpaceMenu" 
     uiclass="SSSpaceMenu"
     outlet="SSConsole">

  <ul id="SpaceMenuList" 
      class="SSListView" 
      uiclass="SSListView"
      outlet="SSConsole"
      options="{
        delegate: 'SSConsole'
      }">
    <li class="SSCell SSSpaceMenuListCell" 
        uiclass="SSSpaceMenuListCell"
        options="{
          properties: ['name', 'icon', 'action'],
        }">
        <img class="icon"></img>
        <span class="name"></span>
        <span class="action"></span>
    </li>
  </ul>

</div>