.SSSpaceMenuFrameBody
{
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

ul#SpaceMenuList
{
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0;
  
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  
  background-color: #f8f5f2;
  
  border: #dfebe1 solid;
  border-width: 3px 3px 0px 3px;
  
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  
  /*-moz-box-shadow: 0px 0px 4px #A9D4BA, 0px 0px 4px #A9D4BA;*/
  -webkit-box-shadow: 0px 0px 4px #A9D4BA, 0px 0px 4px #A9D4BA;
}

/* TODO: support grab icon in all browsers - David 6/27/09 */
ul#SpaceMenuList li
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  width: 100%;
  padding: 0;
  margin: 0px;
  cursor: -moz-grab;
  display:block;
  
  background-color: #f8f5f2;
  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1px;
  height: 30px;
}

ul#SpaceMenuList li:hover
{
  background-color: white;
  color: #f63b01;
  font-weight: bold;
}


ul#SpaceMenuList li.DragClone
{
  margin: 0;
  cursor: -moz-grabbing;
}

ul#SpaceMenuList li > img, ul#SpaceMenuList li > span
{
  float: left;
  margin-left: 6px;
  margin-top: 6px;
}

ul#SpaceMenuList li > span.handle
{
  float: right;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #ccc;
}