.SSSpaceMenuFrame
{
    position: fixed;
    display: block;
    left: 50%;
    margin-left: -255px;
    top: 50%;
    margin-top: -150px;
    width: 521px;
    height: 320px;
    overflow: hidden;
    border: none;
    z-index: 1000004;
}

#SSSpaceMenuMask
{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000003;
    background-color: rgba(0, 0, 0, 0.5);
}