<div id="SSPublishPane" 
     class="SSSubView SSPublishPane SSActive"
     uiclass="SSPublishPane"
     options="{
              delegate:'SSConsoleWindow'
              }">
    
    <div id="SSPublishPaneHeader" outlet="SSPublishPane">
    	
    	<div id="SSPublishPaneEdit" class="hide">
	    <button id="DeleteShift" outlet="SSPublishPane" class="SSButtonMinor">Delete</button>
	    <button id="EditShift" outlet="SSPublishPane" class="SSButtonMajor SSSecondary">Edit</button>
	</div>
        
	<div id="SSPublishPaneVis">
	    <!-- <h4>Visibility:</h4> -->
	    <form id="StatusForm" outlet="SSPublishPane">
        	<label class="SSStatus SSPPVisPrivate"><strong>Private shift</strong> <span>shared with 0 users and 0 groups</span></label>
	    </form>
	</div>
	
    </div>
    
    <div id="SSPublishPaneBody">
	<input id="AddPublishTarget" type="text" outlet="SSPublishPane" class="SSInputField SSPinput TextHint" value="@username, &amp;groupame, #tag"></input>
	<button id="AddTarget" class="SSPublishAddTag" outlet="SSPublishPane">Add</button>
	<p id="TagTip">
	    <span>Share this shift selectively with <strong>@users</strong> and <strong>&amp;groups</strong></span>
	</p>
	
	<div id="PublishTargets" outlet="SSPublishPane">
	</div>
        <!--
            <ul>
                <li><img src="/images/Pane/publish-share-main.png"/></li>
                <li><label>Share:</label></li>
                <li><a id="ShiftPermalink" class="SSPPTips" outlet="SSPublishPane" title="Permalink"><img src="/images/Pane/publish-share-permalink.png"/></a></li>
                <li><a class="SSPPTips" title="Twitter"><img src="/images/Pane/publish-share-twitter.png"/></a></li>
                <li><a class="SSPPTips" title="Del.ico.us"><img src="/images/Pane/publish-share-del.png" /></a></li>
                <li><a class="SSPPTips" title="Facebook"><img src="/images/Pane/publish-share-facebook.png"/></a></li>
                <li><a class="SSPPTips" title="Digg"><img src="/images/Pane/publish-share-digg.png" /></a></li>
            </ul>
            -->
    </div>
    
    <div id="SSPPVisibleEverybody" outlet="SSPublishPane" class="SSRadioButton">
	<input class="SSInputField" id="PublicCheckbox" outlet="SSPublishPane" type="checkbox"></input>
	<label>Publish to everybody</label>
    </div>

    
    <div id="SSPublishPaneFooter">
	<div id="SSPublishPaneStatus">	
	    <button id="SecretLink" outlet="SSPublishPane" class="SSButtonMinor SSDeemphasized">Get secret link</button>
	    <div id="SSPublishButtons">
		<button id="Cancel" outlet="SSPublishPane" class="SSButtonMinor">Cancel</button>
		<button id="ChooseVisibility" outlet="SSPublishPane" class="SSButtonMajor">Update Visibility</button>
                <button id="SendMessage" outlet="SSPublishPane" class="SSButtonMajor SSDisplayNone">Send message</button>
	    </div>
	</div>
    </div>
    
</div>
