.SSPublishPane
{
  position: absolute;
  top: 34px;
  right: 19px;
  width: 268px;
  bottom: 0px;
  color: black;
  z-index: 2;
  /* border:3px #F7F2EF solid; */
  font-family:Helvetica,Arial,Verdana, sans-serif;
  font-size:12px;
  color:#4b423a;

  /* padding:4px 3px 1px 3px; */
  background-color: #fff;  

  -webkit-box-shadow: 0px 0px 10px #000;  
  /*-moz-box-shadow: 0px 0px 10px #aaa;*/
  
  -moz-border-radius: 4px;  
  -webkit-border-radius: 4px;
}

#PaneDrag
{
  background:url(/images/Pane/SSPaneHeader.png) no-repeat;	
  width: 380px;
  height: 15px;
}

.PaneBody
{
  width: 340px;
  background:url(/images/Pane/SSPaneBg.png);
  padding: 0 20px;
}

/*--------------------------------------------------HEADER*/
#SSPublishPaneHeader
{
  /* background-image:url(/images/Pane/publish-top-bg.gif); */
  height:27px;

}

.SSPPPermit{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:4px 14px 1px 3px;
  margin-right:2px;
  background:#fff;
}
   
/*---------------------------------------------------BODY*/
.SSPublishPaneFrameBody
{
  /* background:#f8f5f2; */
  /* background-image:url(/images/Pane/SSPublishPaneBg.png); */
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
}

#SSPublishPaneBody
{
  background:#C6C1BD;
  height:86px;
  margin-top:0px;
  padding-left:4px;
  background-image:url(/images/Pane/publish-top-body.gif);
  background-repeat:repeat-y;
}

#SSPublishPaneBody a img{
  border-style:none;
  position:relative;
  left:2px;
}

#SSPublishPaneBody ul{
  position:relative;
  left:-40px;
  padding-top:3px;
  bottom:2px;
}

#SSPublishPaneBody ul li{
  list-style:none;
  float:left;
  padding-left:4px;
}

#SSPublishPaneVis{
  position:relative;
  top:3px;

}

.SSPinput{
  position:relative;
  bottom:-7px;
  background-image:url(/images/Pane/publish-form-input.gif);
  width:334px;
  height:30px;
  border:0px;
  margin-left:-2px;
  padding-bottom:5px;
  padding-left:0px;
}



.SSPPBodyBorder{
  background-image:url(/images/Console/public-innerborder-left.gif) repeat-y;

}

.SSBorderTop{


}
.SSBorderBottom{

}

.SSPPTagFont{
  font-size:10px;
  font-weight: bold;
}

.SSPPTagUser{
  color:#f63b02;

}

.SSPPsharelabel{
  padding-bottom:3px;
}

.SSPPTagGroup{
  color:#8e2327;
}


#SSPublishPaneTags{
  padding-top:5px;
  padding-bottom:15px;
  overflow:hidden;
}

#SSPublishPaneBody label{
  padding-bottom:4px;
}


.SSPPTagTag{
  color:#0054a6;
}


.SSPPTagsroundedCorners{
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:2px 3px 1px 3px;
}
    
/*----------------------------------------------------FOOTER*/
#SSPublishPaneFooter
{
  padding-top:7px;
  height:32px;
  background:#ffffff;
  width:268px;
  background-image:url(/images/Pane/publish-top-footer.gif);
}

#SaveShift{
  display:none;
}

#SSPublishPaneStatus{
  position:relative;
  left:5px; 

}

.SSPublishPubButton{
  background-color: #f63b02;
  color:fff;
  border:1px #b52b01 solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:0px 5px;
  font-weight:bold;
}