body 
{
  margin: 0;
  background: #c45e0c url(bg.jpg) repeat-x;
  font: 12px/18px lucida grande, tahoma, verdana, sans-serif;
}

#lipsum 
{
  position: absolute;
  top: 125px;
  left: 370px;
  width: 300px;
}

a 
{
  color: #1f0b0c;
}

#install
{
  position: fixed;
  left: 10px;
  top: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  /*-moz-box-shadow: 0px 0px 6px #A9D4BA;*/
  -webkit-box-shadow: 0px 0px 6px #A9D4BA;
  border: 2px solid grey;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

#install:hover
{
  background-color: #cfc;
}

#install:active
{
  background-color: #efe;
}
