.SSTabView
{
  background-color:#e6e4a3;
  width: 400px;
  height: 400px;
}

.SSTabView > .SSControlView
{
  
}

.SSTabView > .SSControlView > .SSButton
{
  user-select: none;
  -moz-user-select: none;
  cursor: default;
}

.SSTabView > .SSControlView > div.SSActive
{
  color: red;
}

.SSTabView > .SSContentView > div.SSActive
{
  
}

.SSTabView > .SSContentView:first-of-type
{
  
}

.SSTabView > .SSContentView > div
{
  display:none;
}

.SSTabView > .SSContentView > .SSActive
{
  display:block;
}

/*
  Event styles
*/

.SSTabView > .SSControlView > div.SSButton:hover
{
  background-color: #fff;
}

/*
  Console normal tab styles
*/

.SSTabViewConsoleStyle
{
  
}

.SSTabViewConsoleStyle > .SSControlView
{
  width: 100%;
  height: 30px;
  border-bottom: solid 1px #000;
}

.SSTabViewConsoleStyle > .SSControlView > .SSButton
{
  float: left;
  margin-right: 2px;
  background-color: inherit;
  height: 20px;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
}

.SSTabViewConsoleStyle > .SSControlView > .SSActive
{
  background-color: #E6E4A3;
}

.SSTabViewConsoleStyle > .SSContentView
{
  clear: both;
}

/*
  Console sub tab styles
*/

.SSTabViewSubTabStyle > .SSControlView
{
  float: left;
  height: 100%;
  width: 100px;
  border-right: solid 1px #000;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
  height: 20px;
  padding: 4px;
}

.SSTabViewSubTabStyle > .SSContentView
{
  float: left;
}