.SSTabView
{
  background-color:#e6e4a3;
  width: 100%;
  height: 100%;
}

.SSTabView > .SSControlView
{
  
}

.SSTabView > .SSControlView > .SSButton
{
  user-select: none;
  -moz-user-select: none;
  cursor: default;
}

.SSTabView > .SSControlView > .SSButton.SSActive
{
  color: red;
}

.SSTabView > .SSContentView > .SSTabPane.SSActive
{
  
}

.SSTabView > .SSContentView:first-of-type
{
  
}

.SSTabView > .SSContentView > .SSTabPane
{
  display:none;
}

.SSTabView > .SSContentView > .SSTabPane.SSActive
{
  display:block;
}

/*
  Event styles
*/

.SSTabView > .SSControlView > div.SSButton:hover
{
  background-color: #fff;
}

/*
  Console normal tab styles
*/

.SSTabViewConsoleStyle
{
  
}

.SSTabViewConsoleStyle > .SSControlView
{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 30px;
  border-bottom: solid 1px #000;
}

.SSTabViewConsoleStyle > .SSControlView > .SSButton
{
  float: left;
  margin-right: 2px;
  background-color: inherit;
  height: 20px;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
}

.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  background-color: #E6E4A3;
}

.SSTabViewConsoleStyle > .SSContentView
{
  clear: both;
  position: absolute;
  top: 31px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/*
  Console sub tab styles
*/

.SSTabViewSubTabStyle > .SSControlView
{
  /*
  float: left;
  height: 100%;
  */
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 125px;
  border-right: solid 1px #000;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
  padding: 4px;
  border-bottom: 1px solid;
}

.SSTabViewSubTabStyle > .SSContentView
{
  /*float: left;*/
  position: absolute;
  top: 0px;
  left: 126px;
  right: 0px;
  bottom: 0px;
}