#AllShiftsView
{
  position: absolute;
  left: 166px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#AllShiftsListView
{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

#AllShiftsView .ShiftListViewCell
{
  float: left;
  width: 100%;
  height: 28px;
}

#AllShiftsView .ShiftListViewCell.selected
{
  background-color: #ccc;
}

#AllShiftsView .ShiftListViewCell .gravatar
{
  width: 16px;
  position: absolute;
}

#AllShiftsView .ShiftListViewCell img.gravatar:hover
{
  margin-top: -8px;
  maring-left: -8px;
  width: 32px;
}

#AllShiftsView .ShiftListViewCell > *
{
  float: left;
}

#AllShiftsView .ShiftListViewCell div.summary
{
  margin-left: 6px;
  width: 150px;
}

#AllShiftsView .ShiftListViewCell div.userName
{
  margin-left: 20px;
}

