*~
*.save
*.pyc
server/sessions/session*

momasocialbar/images
momasocialbar/templates
momasocialbar/stylesheets
momasocialbar/views
momasocialbar/scripts
sandalphon/simplejson
builder/simplejson
client/compiledViews
server/app/sms.log
server/server.ini

builder/SSPackageSorter.pyc
builds/*
config/env/my_sandalphon.json
config/env/mydev.json
config/packages.json
config/tests.json
momasocialbar/

sandalphon/sandalphon.pyc
mootools/mootools-1.2-core.js.bak2
builder/preprocess.pyc
builder/preprocess.pyc
shiftspace.tmproj
server/.DS_Store
builds/shiftspace.dev.user.js
config/env/dev.json
config/env/sandalphon.json
.DS_Store

lucene/*
/shiftspace.org
/.emacs.desktop
/.emacs.desktop.lock
/.emacs.desktop.lock
/.emacs.desktop.lock
/.emacs.desktop.lock
/.emacs.desktop.lock
/manual/#tutorial.html#
/manual/test.html
/wiki/#installation-linux.textile#
/wiki/.#installation-linux.textile
/builder/__init__.pyc
/sandalphon/__init__.pyc
/builder/corebuilder.pyc
/server/couchdb-lucene-0.4-jar-with-dependencies.jar

externals/NaturalDocs-1.4/*
docs/*
tmp/*/manual/install.html
/manual/install.html
/manual/installation-linux.html
/manual/installation-osx.html
/manual/installation-windows.html
tmp/docs

ideas/*
config/views.json/server/.htaccess
/config/views.json
/server/.htaccess
/test.py
/config/conf.json
