*~
*.save

momasocialbar/images
momasocialbar/templates
momasocialbar/stylesheets
momasocialbar/views
momasocialbar/scripts
sandalphon/simplejson
builder/simplejson
client/compiledViews
server/app/sms.log
server/server.ini

builder/SSPackageSorter.pyc
builds/shiftspace.sandalphon.js
builds/shiftspace.sandbox.js
builds/shiftspace.user.js
config/env/my_sandalphon.json
config/env/mydev.json
config/packages.json
config/tests.json
momasocialbar/

sandalphon/sandalphon.pyc
mootools/mootools-1.2-core.js.bak2
builder/preprocess.pyc
builder/preprocess.pyc
shiftspace.tmproj
server/.DS_Store
builds/shiftspace.dev.user.js
config/env/dev.json
config/env/sandalphon.json
.DS_Store
