*~
*.save

momasocialbar/images
momasocialbar/templates
momasocialbar/stylesheets
momasocialbar/views
momasocialbar/scripts
sandalphon/simplejson
builder/simplejson
client/compiledViews
server/app/sms.log
server/server.ini
