div#theirview {
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

#google-attribution {
	border: 0;
	padding: 0;
	margin: 15px;
}
#google-attribution img {
	border: 0;
}

#yahoo-attribution img {
	border: 0;
	padding: 0;
	margin: 15px;
}

#digg-attribution { margin: 15px; }
#digg-attribution img { border: 0; }

p.paginate {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 8pt;
	margin: 4px;
}

a.p-href {}
span.p-disabled {
	color: #ccc;
}
span.p-divider {
	font-weight: bold;
	margin: 0 7px;
}

/* Close button */
.SSTheirViewShiftCloseButton {
  position: absolute;
  right: 0px;
  width: 15px;
  height: 14px;
  background-repeat: no-repeat;
}

.SSTheirViewShiftCloseButton        { background-image: url(images/close-off.png); }
.SSTheirViewShiftCloseButton:hover  { background-image: url(images/close-hover.png); }
.SSTheirViewShiftCloseButton:active { background-image: url(images/close-active.png); }


/* Digg! styles */
span.digg-count {
	float: left;
	background-image: url(images/digg-news.gif);
	background-repeat: no-repeat;
	background-position: top left;
	color:#93883F;
	display:block;
	min-height:52px;
	padding: 15px 0;
	margin: 0 10px;
	text-align:center;
	width:51px;
}

span.digg-count strong {
	display:block;
	letter-spacing:-1px;
	line-height:1;
}

a.digg-title {}
p.digg-content {}
a.digg-more {
	margin: 0 7px;
	color: #333;
}
span.digg-topic {
	color: #666;
}
