<div id="FilterPane" 
     class="SSFilterPane" 
     uiclass="SSFilterPane"
     outlet="SSConsole"
     options="{
       delegate: 'SSConsole'
     }">
     
     <div>Show only shifts:</div>

     <div>
       <input type="checkbox"></input>
       <label>on this page</label>
     </div>

     <div>
       <input type="checkbox"></input>
       <label>on this domain</label>
     </div>
     
     <div>
       <input type="checkbox"></input>
       <label>by people I follow</label>
     </div>
     
     <div>
       <input type="checkbox"></input>
       <label>in my groups</label>
     </div>

     <div>
       <input type="checkbox"></input>
       <label>search:</label>
       <input id="SSSearchBy" name="searchBy" type="text" value="#tag @user"></input>
     </div>
     
</div>