/* Different right value for different browsers */

.SSFilterPane
{
  position: absolute;
  left: 6px;
  width: 160px;
  top: 38px;
  bottom: 0px;
  z-index: 2;
  color: #4B423A;
  background-color: #DDD7D2;
  border: 1px solid #CEC9C3;
  /*-moz-box-shadow: inset 0 0 8px #BEB9B3;*/
  -webkit-box-shadow: inset 0 0 8px #BEB9B3;
}

.SSFilterPane > div:first-child
{
  height:16px;
  line-height:16px;
  margin-top: 4px;
  margin-bottom:2px;
  font-weight:bold;
}

.SSFilterPane > div
{
  margin-left: 4px;
}

#SSSearchBy
{
  width: 80px;
  color: #74665A;
  background-color: #DDD7D2;
  border: 1px solid #B3ADA5;
}

.SSFilterPane input:checked + label
{
  font-weight:bold;
}