/* Different right value for different browsers */

.SSFilterPane
{
  position: absolute;
  left: 6px;
  width: 160px;
  top: 38px;
  bottom: 0px;
  
  z-index: 2;
  color: black;
  background-color: #bbb;
}

.SSFilterPane > div:first-child
{
  margin-top: 4px;
}

.SSFilterPane > div
{
  margin-left: 4px;
}

#SSSearchBy
{
  width: 80px;
}