/* Different right value for different browsers */

.SSFilterPane
{
  position: absolute;
  left: 0px;
  width: 140px;
  top: 30px;
  bottom: 0px;
  right: 15px;
  
  z-index: 2;
  background-color: green;
}