<div id="PeopleDetailView"
     class="SSSubView"
     uiclass="PeopleDetailView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <div>
        <div class="userName"></div>
        <img width="60" class="gravatarLarge"></img>
        <div class="bio"></div>
        <div class="url"></div>
    </div>

    <div>
        <button class="follow">Follow</button>
        <button class="unfollow">Unfollow</button>
    </div>

    <div>
        <div class="followerCount"></div>
        <div class="followingCount"></div>
        <div class="shiftCount"></div>
    </div>

</div>
