<div id="PeopleDetailView"
     class="SSSubView"
     uiclass="PeopleDetailView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <div class="FollowedUserBio">
        <img width="60" class="gravatarLarge"></img>
        <div class="userNames">
            <span class="userName"></span>
             <span class="fullName"></span>
        </div>        
        <div class="bio"></div>
        <div class="url"></div>
    </div>

    <div class="FollowedUserButtons">
        <button class="follow">Follow</button>
        <button class="unfollow">unFollow</button>
    </div>

    <div class="FollowedUserStats">
        <div>
            <span class="followerCount"></span> Followers
        </div>
        <div>
            <span class="followingCount"></span> Following
        </div>
        <div>
            <span class="publishedShiftCount"></span> Shifts
        </div>
    </div>

</div>
