#PeopleDetailView
{
    position: relative;
    height: 100%;
    font-family: Helvetica,Arial,Verdana,sans-serif;
}

.FollowedUserBio
{
    width: 273px;
    height: 69px;
    padding-left: 68px;
    border: 1px solid #BDADA5;
    background-color: #E4DFDB;
}

.FollowedUserBio *
{
    float: left;
}

.FollowedUserBio img
{
    border:2px solid #B5B0A8;
    height:65px;
    left:1px;
    position:absolute;
    top:1px;
    width:65px;
}


.FollowedUserBio .username
{
    color:#F63B02;
    font-size:15px;
    height:36px;
    line-height:36px;
    margin-left:8px;
}

.FollowedUserBio .userHandle
{
    color:#786A5F;
    font-size:15px;
    font-weight:bold;
    margin-left:4px;
    margin-top:10px;
}

.FollowedUserBio bio,
.FollowedUserBio url
{
    font-size:12px;
    color:#786a5f;
}

.FollowedUserStats
{
    color: 74665A;
    background-color: #F1EDEB;
    font-weight:lighter;
}

.FollowedUserStats span
{
    height: 18px;
    line-height: 18px;
    padding-left: 4px;
    font-weight: bold;
}

.FollowedUserStats div
{
    height: 22px;
    line-height: 22px;
    border-top: 1px #C8CDC4 solid;
}

.FollowedUserStats div:last-child
{
    border-bottom: 1px #C8CDC4 solid;
}


#PeopleDetailView .FollowedUserButtons
{
    height: 30px;
    padding-top: 10px;
}

#PeopleDetailView .unfollow,
#PeopleDetailView .follow
{
    -moz-border-radius: 10px;
    border: 2px solid #B3ADA5;
    color: #74665A;
    padding:3px 20px 2px;
    font-weight:bold;
}
