#PeopleDetailView
{
    position: relative;
    height: 100%;
    font-family: Helvetica Neue, Helvetica,Arial,Verdana,sans-serif;
}

.FollowedUserBio
{
    /*width: 273px;*/
    min-height:66px;
    padding-bottom:4px;
    padding-left:70px;
    border: 1px solid #BDADA5;
    background-color: #E4DFDB;
}

.FollowedUserBio *
{
   /* float: left; */ 
}

.FollowedUserBio .userNames
{
    height:34px;
}

.FollowedUserBio img
{
    border:2px solid #B5B0A8;
    height:68px;
    left:1px;
    position:absolute;
    top:1px;
    width:67px;
}


.FollowedUserBio .userName
{
    color:#F63B02;
    font-size:15px;
    height:23px;
    line-height:36px;
    margin-left:8px;
}

.FollowedUserBio .fullName
{
    color:#786A5F;
    font-size:15px;
    font-weight:bold;
    margin-left:4px;
    margin-top:10px;
}

.FollowedUserBio .bio
{
    background-image:url("http://localhost:8080/images/Console/info.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    color:#786A5F;
    font-size:12px;
    min-height:16px;
    margin-left:5px;
    margin-top:-5px;
    padding-left:18px;
    padding-top:3px;
}

.FollowedUserBio .url
{
    background-image:url("http://localhost:8080/images/Console/groups-perm.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    color:#786A5F;
    font-size:12px;
    min-height:17px;
    margin-left:5px;
    margin-top:0px;
    padding-left:18px;
    padding-top:3px;
}

.FollowedUserStats
{
    color: #74665A;
    background-color: #F1EDEB;
    font-weight:lighter;
}

.FollowedUserStats span
{
    height: 18px;
    line-height: 18px;
    padding-left: 4px;
    font-weight: bold;
}

.FollowedUserStats div
{
    height: 22px;
    line-height: 22px;
    border-top: 1px #C8CDC4 solid;
}

.FollowedUserStats div:last-child
{
    border-bottom: 1px #C8CDC4 solid;
}


#PeopleDetailView .FollowedUserButtons
{
    height: 30px;
    padding-top: 10px;
}

#PeopleDetailView .unfollow,
#PeopleDetailView .follow
{
    -moz-border-radius: 10px;
    border: 2px solid #B3ADA5;
    color: #74665A;
    padding:3px 20px 2px;
    font-weight:bold;
}
