body 
{
  bottom: 0px;
  left: -10px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: -10px;
}

#title
{
  margin-top: 10px;
  margin-right: 10px;
}

#SSSandalphonControls
{
  float: left;
  width: 100%;
  border-bottom: 1px solid #752f05;
  background-color: #e6e4a3;
}

#SSSandalphonControls form
{
  margin-top: 10px;
  margin-left: 10px;
  font-family: Helvetica Neue, Helvetica;
  font-size: 12px;
}

#SSSandalphonControls form table th
{
  font-weight: normal;
  font-size: 12px;
  text-align: right;
}

#SSSandalphonControls form table input[type=text]
{
  width: 300px;
}

#SSSandalphonControls span
{
  float: right;
  font-family: Helvetica Neue, Helvetica;
  color: #752f05;
  font-size: 24px;
}

#SSSandalphonDisplay
{
  position: relative;

  float:left;
  height:90%;
  width:100%;
}

#SSTestRunnerStage
{
  position:absolute;
  background-color:#EFEFEF;
  top:10px;
  right:10px;
  height:25%;
  left:10px;
}

#SSTestRunnerOutput
{
  overflow-y: scroll;
  position:absolute;
  background-color:#ccc;
  top:25%;
  right:10px;
  height:75%;
  left:10px;
}