<div id="SSNotifier" class="SSNotifierView" uiclass="SSNotifierView">
    
    <div id="SSNotifierDefaultView" class="SSNotifierSubView SSActive" outlet="SSNotifier">
        <div id="SSShiftCount" outlet="SSNotifier">0 shifts</div>
    </div>
    
    <div id="SSNotifierControlsView" class="SSNotifierSubView" outlet="SSNotifier">
        <button id="SSSelectSpace" class="ActionButton" outlet="SSNotifier">Use a space</button>
        <button id="SSToggleConsole" class="ActionButton" outlet="SSNotifier">Open Console</button>
        <div id="SSMessage" class="SSDisplayNone" outlet="SSNotifier">
            <button id="SSShowMessage" outlet="SSNotifier"></button>
        </div>
        <button id="SSLogInOut" outlet="SSNotifier">Login</button>
        <span id="SSGreeting">Hi! <span id="SSUsername" outlet="SSNotifier">guest</span></span>
        <div id="SSQuickPane" class="SSDisplayNone" outlet="SSNotifier">
            <span id="SSQPStatus" class="status" outlet="SSNotifier">No Status.</span>
            <span id="SSQPCancel" class="cancel" outlet="SSNotifier">Cancel</span>
            <button id="SSQPSave" class="save" outlet="SSNotifier">Save</button>
            <button id="SSQPShare" class="share" outlet="SSNotifier">Share</button>
        </div>
    </div>
    
</div>
