#SSCommentPane
{
   background-color: WhiteSmoke;
   height: 100%;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 13px;
}

#SSCommentPane #SSCommentShift{
  position: relative;  
  height: 66px;
}

#CommentPaneForm textarea
{
   width: 330px;
   border: solid 1px;
   color:#4B423A;
   margin-bottom:7px;
}

.SSCommentsListViewCell
{
   list-style: none;
}

#SSCommentNotify
{
   font-size: 11px;
   color:#74665a;
}

#SSCommentPrompt, #SSCommentHeader
{
   font-weight: bold;
   font-size: 16px;
   color:#74665A;
   padding-bottom:3px;
   padding-left:6px;
   padding-right:0;
   padding-top:5px;
}


#DgreyBox{
  position: relative;
  width: 341px;
  height: 70px;
  padding: 2px;
  padding-bottom: 5px;
  font-size: 15px;
  background: url(/images/comment_bubble_lt.png) no-repeat;
}

#DgreyBox .summary{
  position: absolute;
  left: 49px;
  height: 42px;
  line-height: 21px;
}

#DgreyBox .summary p{
  margin:0;
  padding:0;
}

#DgreyBox .commentMeta{
  min-height: 23px;
  margin: 59px 0 3px 31px;
  font-size:11px;
}

#DgreyBox .user .createdStr {
  float:left;
}

#DgreyBox .user .userName{
  float: left;  
  font-weight: bold;
}

/*
#DgreyBox .UserDateMeta{
  bottom:0;
  font-size:11px;
  left:28px;
  position:absolute;  
}

#DgreyBox .user{
  float: left;  
}

#DgreyBox .user .gravatarContainer{
  float: left;  
}
*/

#SSCommentPane .index{
   float:left;
}

#SSCommentPane .bubblebtm {
  background: url(/images/comment_bubble_btm.png) no-repeat;
  min-height: 20px;
  margin-top: -8px;
}

#SSCommentsListView .commentMeta{
  min-height: 23px;
  margin: -8px 0 3px 33px;
  font-size:11px;
}

#SSCommentPane .user .createdStr {
  float:left;
}

#SSCommentPane .text{
   border: 1px solid #cfcac4;
   padding: 6px;
   min-height:38px;
   font-size:13px;
   font-weight:lighter;
   margin-bottom:6px;
   color:#4b423a;
   line-height:14px;
}

#SSCommentPane .spaceIcon{
   padding: 12px;
   margin-right:5px;
   border: 1px solid #c7c3b6;
   float: left;
   background-color: #FFFFFF;
}

#SSCommentPane .DgreyBox > .spaceIcon{
   padding:8px;
   margin-right:5px;
   border: 1px solid #c7c3b6;
   float: left;
   background-color: #FFFFFF;
}

#SSCommentPane .summary{
   color:#4B423A;
   font-size:15px;
}

#SSCommentPane .user{
  /*position: absolute;
  bottom: 0;
  left: 28px;
  font-size: 11px;*/
}

#SSCommentPane.createdStr,
#SSCommentPane .user .userName{
  font-size: 11px;
}

#SSCommentPane .SSListView
{
   width:100%;
}

#SSCommentPane ul#SSCommentsListView
{
   height: 150px;
   /*overflow-y: scroll;*/
   border: none;
   background-image: none;
   margin-top: 21px;
}

#SSCommentPane ul#SSCommentsListView li#SSCommentsListViewCell{
  background-image: url(/images/comment_bubble_top);
  background-repeat: no-repeat;
}

#SSCommentPane ul#SSCommentsListView #SSCommentsListViewCell .text{
  
}

#SSCommentPane ul#SSCommentsListView img.spaceIcon
{
   display: none;
}

#SSCommentPane ul#SSCommentsListView li:first-child img.spaceIcon
{
   display: block;
}

#SSCommentPane .PaneForm{
   border-top-color:#CFCAC4;
   border-top-style:solid;
   border-top-width:1px;
   margin-top:20px;
   padding-top:5px;
   padding-left:5px;
   position: relative;
   float: right;
}

#SSCommentPane #SSCloseComments{
   background:none;
   color:#74665A;
   text-decoration:underline;
   font-size:12px;
}

#SSCommentPane #SSPostComment{
   color:#74665A;
   font-size:12px;
   border: solid 2px #b3ada5;
   -moz-border-radius:10px;
   width:100px;
   font-weight:bold;
}