<div id="SSCommentPane"
     class="SSSubView SSCommentPane"
     uiclass="SSCommentPane"
     options="{
       delegate: 'SSConsoleWindow'
     }">

    <ul id="SSCommentsListView"
        class="SSListView"
        uiclass="SSListView"
        outlet="SSCommentPane">
        <li class="SSCell SSCommentsListViewCell"
            uiclass="SSCommentsListViewCell"
            options="{
              properties: ['userName', 'text']
            }">
            <div class="userName"></div>
            <div class="gravatar"></div>
            <div class="text"></div>
            <div class="created"></div>
        </li>
    </ul>

    <form>
        <label>Leave a comment</label>

        <div>
            <textarea id="SSCommentText" outlet="SSCommentPane"></textarea>
        </div>

        <div>
            <label>Notify me when other people comment on this thread</label>
            <input id="SSNotify" type="checkbox" checked="true" outlet="SSCommentPane"></input>
        </div>

        <div>
            <button id="SSCloseComments" outlet="SSCommentPane">Close</button>
            <button id="SSPostComment" outlet="SSCommentPane">Post Comment</button>
        </div>
    </form>

</div>
