<div id="SSCommentPane"
     class="SSCommentPane"
     uiclass="SSCommentPane">

  <ul id="SSCommentsListView"
       class="SSListView"
       uiclass="SSListView">
    <li class="SSCell"
	uiclass="SSCell">
    </li>
  </ul>

  <form>
    <label>Leave a comment</label>
    <textarea id="SSCommentText" outlet="SSCommentPane"></textarea>

    <label>Notify me when other people comment on this thread</label>
    <input id="SSNotify" type="checkbox" checked="true" outlet="SSCommentPane"></input>

    <input id="SSCloseComments" outlet="SSCommentPane" type="button" value="Close"></input>
    <input id="SSPostComment" outlet="SSCommentPane" type="submit" value="Submit"></input>
  </form>

</div>
