<div id="SSCommentPane"
     class="SSSubView SSCommentPane"
     uiclass="SSCommentPane"
     options="{
       delegate: 'SSConsoleWindow'
     }">

    <div id="SSCommentHeader">
        <span class="count">1 Comment to</span>:
    </div>
    
    <div id="SSCommentShift">
        <div id="DgreyBox">
            <img class="spaceIcon"></img>
            <div class="summary"></div>
            
            <div class="user">
                <span class="index"></span>
                <div class="commentMeta">
                    <div class="gravatarContainer">
                        <img class="rounded-image gravatar" width="16" height="16"></img>
                    </div>
                    <div class="userName"></div>
                    <div class="createdStr"></div>
                </div>
            </div>       
        </div>
    </div>

    <ul id="SSCommentsListView"
        class="SSListView"
        uiclass="SSListView"
        outlet="SSCommentPane">
        <li class="SSCell SSCommentsListViewCell"
            uiclass="SSCommentsListViewCell"
            options="{
              properties: ['userName', 'text', 'gravatar', 'createdStr']
            }">
            <div class="text"></div>
            <div class="bubblebtm"></div>
            
            <div class="user">
                <span class="index"></span>
                <div class="commentMeta">
                    <div class="gravatarContainer">
                        <img class="rounded-image gravatar" width="16" height="16"></img>
                    </div>
                    <div class="userName"></div>
                    <div class="createdStr"></div>
                </div>
            </div>
        </li>
    </ul>

    <div id="CommentPaneForm" class="PaneForm">
        <label id="SSCommentPrompt">Hey <span class="userName">guest</span>, post a comment:</label>
        <div>
            <textarea id="SSCommentText" outlet="SSCommentPane"></textarea>
        </div>
        <div>
            <input class="SSInputField" id="SSNotify" type="checkbox" checked="true" outlet="SSCommentPane"></input>
            <label id="SSCommentNotify">Inform me of new comments</label>
            <button id="SSCloseComments" outlet="SSCommentPane">Cancel</button>
            <button id="SSPostComment" outlet="SSCommentPane">Submit</button>
        </div>
    </div>

</div>
