/* Main style for the Note Shift ---------------------------- */
.SSNoteShift
{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #F5FB9B;
  min-width : 150px;
  min-height: 150px;
  /* The following 2 are for Safari - David */
  overflow-x: visible;
  overflow-y: visible;
  z-index: 1;
}

.SSHidden
{
  display : none;
}

.SSNoteShiftDragCover
{
  position: absolute;
  top: 14px;
  left: 0px;
  right: 0px;
  background-color: red;
  opacity: 0.5;
}

/* Styles for the top of the Note Shift --------------------- */
.SSNoteShiftTop
{
  height : 14px;
}

.SSNoteShiftGrabber
{
  position: absolute;
  left: 5px;
  right: 15px;
  height: 14px;
  background-image: url(images/grabber.png);
}

.SSNoteShiftCloseButton
{
  position: absolute;

  right: 0px;

  width: 15px;
  height: 14px;

  background-image: url(images/close-off.png);
  background-repeat: no-repeat;
}

div.SSNoteShiftCloseButton:hover
{
  background-image: url(images/close-hover.png);
}

div.SSNoteShiftCloseButton:active
{
  background-image: url(images/close-active.png);
}

.SSNoteShiftFrame
{
  background : transparent;
  border : none;
}

body#SSNoteShiftFrameBody
{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}

.SSNoteShiftTextArea
{
  font: 12px verdana, sans-serif;
 
  background : transparent;
  position: absolute;
  border : none;
  padding : 0px 4px 4px 4px;

  left: 4px;
  right: 4px;
  top: 0px;
  bottom: 0px;
  
  width: 100%;
  height: 100%;

  overflow: hidden;
  resize: none;
}

.SSNoteShiftViewArea
{
  font: 12px verdana, sans-serif;
 
  background : transparent;
  position: absolute;
  border : none;
  padding : 0px 4px 4px 4px;

  left: 4px;
  right: 4px;
  top: 0px;
  bottom: 0px;
  
  /* width: 100%; */
  height: 100%;

  overflow: hidden;
  resize: none;
}

/* Styles for the bottom of the Note Shift ------------------ */

.SSPinWidget
{
   margin-left: 10px;
}

.SSNoteShiftButtonDiv
{
   text-align: right;
   padding: 0px 8px 0px 25px;
   float: right;
}

.SSNoteShiftBottom
{
   padding-bottom: 20px;
}

.SSNoteShiftBottom input[type="button"]
{
  font: 11px verdana, sans-serif;
  color: #b19c3d;
  cursor: pointer;
  display: inline;
  margin-left: 7px;
  margin-bottom: 7px;
  padding: 2px 2px 3px;
  background-color: #F5FB9B;
  border: 1px solid #E5EB8B;
  text-decoration: none;
}

.SSNoteShiftBottom input[type="button"]:hover
{
  color: #706357;
  border: 1px solid #776929;
  text-decoration: none;
}

.SSNoteShiftBottom input[type="button"]:active
{
  border: 1px solid #776929;
  text-decoration: none;
}

.SSNoteShiftBottom input[value="save"]{
  font-weight: bold;
  text-decoration: none;
}

.SSNoteShiftResize
{
  position : absolute;
  right : 0px;
  bottom : 0px;
  background-image : url(images/resize.png);
  width: 13px;
  height: 13px;
}

/* Styles for the edges */

.SSNoteShiftRightEdge
{
  position: absolute;
  width: 2px;
  top: 0px;
  right: -2px;
  height: 100%;
  background-image : url(images/right.png);
  background-repeat : repeat-y;
  z-index:1;
}

.SSNoteShiftBottomEdge
{
  position: absolute;
  height: 2px;
  bottom: -2px;
  width: 100%;
  background-image: url(images/bottom.png);
  background-repeat: repeat-x;
  z-index:1;
}

.SSNoteShiftCorner
{
  position: absolute;
  width: 2px;
  height: 2px;
  bottom: -2px;
  right: -2px;
  background-image: url(images/corner.png);
  background-repeat: no-repeat;
  z-index:1;
}