<div id="SSConsole" uiclass="SSConsole">
  
  <div id="MainTabView" class="SSTabView SSTabViewConsoleStyle" uiclass="SSTabView" outlet="SSConsole">
  
    <div class="SSControlView">
      <!-- The tab buttons -->
      <div class="SSButton SSActive">
        <div title="Shifts" class="SSLocalized">Shifts</div>
      </div>
      <div class="SSButton">
        <div title="Inbox" class="SSLocalized">My</div>
      </div>
      <div class="SSButton">
        <div title="Inbox" class="SSLocalized">Inbox</div>
      </div>
      <div class="SSButton">
        <div title="Following" class="SSLocalized">Following</div>
      </div>
      <div class="SSButton">
        <div title="Groups" class="SSLocalized">Groups</div>
      </div>
      <div class="SSButton">
        <div title="Settings" class="SSLocalized">Settings</div>
      </div>
      <div class="SSButton">
        <div title="Login" class="SSLocalized">Login</div>
      </div>
      <div class="SSButton">
        <div title="Welcome" class="SSLocalized">Welcome</div>
      </div>
      <!-- End tab buttons -->
    </div>
    
    <?path:../client/views/SSFilterPane/SSFilterPane?>
  
    <div class="SSContentView">
      <?customView:AllShiftsView?>
      <?customView:MyShiftSpacePane?>
      <div id="InboxPane" class="SSTabPane"></div>
      <?customView:PeoplePane?>
      <?customView:GroupsPane?>
      <?customView:SettingsTabView?>
      <?customView:LoginTabView?>
      <div id="WelcomePane" class="SSTabPane">
        Welcome
      </div>
    </div>
    
    <?path:../client/views/SSPublishPane/SSPublishPane?>
  
  </div>
  
</div>
