#SSConsole
{
  width: 100%;
  height: 100%;
}

#SSConsole, #SSConsoleFrameBody
{
  font-family: georgia;
  font-size: 12px;
}

#MainTabView > .SSControlView > div:first-child
{
  margin-left: 32px;
}

#SSConsole > .SSContentView > div
{
  width: 100%;
  height: 100%;
}

#SSConsoleControls
{
  float: right;
  width: 68px;
  margin-top: 5px;
}

.SSConsoleControlButton
{
  float: left;
  margin-right: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid red;
}