<div id="SSConsole"
     uiclass="SSConsole">
  
  <div id="MainTabView" class="SSTabView SSTabViewConsoleStyle" uiclass="SSTabView" outlet="SSConsole">
  
    <div class="SSControlView">
      <!-- The tab buttons -->
      <div class="SSButton SSActive">
        <div title="Shifts" l18n="Shifts">Shifts</div>
      </div>
      <div class="SSButton">
        <div title="Inbox" l18n="My &#167;">My &#167;</div>
      </div>
      <div class="SSButton">
        <div title="Inbox" l18n="Inbox">Messages</div>
      </div>
      <div class="SSButton">
        <div title="Following" l18n="People">People</div>
      </div>
      <div class="SSButton">
        <div title="Groups" l18n="Groups">Groups</div>
      </div>
      <div class="SSButton">
        <div title="Settings" l18n="Settings">Settings</div>
      </div>
      <div class="SSButton">
        <div title="Login" l18n="Login">Login</div>
      </div>
      <!-- End tab buttons -->
    </div>
    
    <div class="SSContentView">
      <div id="SSLeftCorner"></div><div id="SSTopEdge"></div><div id="SSRightCorner"></div>
      <div id="SSLeftEdge"></div><div id="SSRightEdge"></div>
      <?view:AllShiftsView?>
      <?view:MyShiftSpacePane?>
      <?view:InboxPane?>
      <?view:PeoplePane?>
      <?view:GroupsPane?>
      <?view:SettingsTabView?>
      <?view:LoginTabView?>
    </div>
    
  </div>
  
</div>
