<div id="SSConsole" uiclass="SSConsole">
  
  <div id="MainTabView" class="SSTabView SSTabViewConsoleStyle" uiclass="SSTabView" outlet="SSConsole">
  
    <div class="SSControlView">
      <!-- The tab buttons -->
      <div class="SSButton SSActive">
        <div title="Shifts" il8n="Shifts">Shifts</div>
      </div>
      <div class="SSButton">
        <div title="Inbox" il8n="My">My</div>
      </div>
      <div class="SSButton">
        <div title="Inbox" il8n="Inbox">Messages</div>
      </div>
      <div class="SSButton">
        <div title="Following" il8n="People">People</div>
      </div>
      <div class="SSButton">
        <div title="Groups" il8n="Groups">Groups</div>
      </div>
      <div class="SSButton">
        <div title="Settings" il8n="Settings">Settings</div>
      </div>
      <div class="SSButton">
        <div title="Login" il8n="Login">Login</div>
      </div>
      <div class="SSButton">
        <div title="Welcome" il8n="Welcome">Welcome</div>
      </div>
      <!-- End tab buttons -->
    </div>
    
    <?path:client/views/SSFilterPane/SSFilterPane?>
  
    <div class="SSContentView">
      <?customView:AllShiftsView?>
      <?customView:MyShiftSpacePane?>
      <?customView:InboxPane?>
      <?customView:PeoplePane?>
      <?customView:GroupsPane?>
      <?customView:SettingsTabView?>
      <?customView:LoginTabView?>
      <div id="WelcomePane" class="SSTabPane">
        Welcome
      </div>
    </div>
    
    <?path:client/views/SSPublishPane/SSPublishPane?>
  
  </div>
  
</div>
