<div id="MyShiftSpacePane" 
     class="SSTabPane"
     uiclass="MyShiftSpacePane">

  <!-- Start MyShiftSpaceTabView -->
  <div id="MyShiftSpaceTabView"
       class="SSTabView SSTabViewSubTabStyle"
       uiclass="SSTabView">

    <div class="SSControlView">
      <div class="SSButton SSActive">My Shifts</div>
      <div class="SSButton">My Comments</div>
      <div class="SSButton">My Favorites</div>
    </div>
    
    <div class="SSContentView">

      <!-- Start My Shifts List View -->
      <div class="SSTabPane">
        <ul id="MyShiftsListView"
            class="SSListView ShiftListView"
            uiclass="ShiftListView"
            outlet="MyShiftSpacePane">

          <li class="SSCell ShiftListViewCell"
              uiclass="ShiftListViewCell"
              options="{
                properties: ['space', 'href', 'summary', 'modified', 'commentCount']
              }">
            <div class="selected">
              <input type="checkbox"/>
            </div>
            <img class="spaceIcon"></img>
            <div class="domain"></div>
            <div class="summary"></div>
            <div class="date"></div>
            <div class="comments"></div>
          </li>
          
        </ul>
      </div>
      <!-- End My Shifts List View -->

      <!-- Start My Comments View -->
      <div class="SSTabPane">
        <ul id="MyCommentsListView"
            class="SSListView ShiftListView"
            uiclass="ShiftListView"
            outlet="MyShiftSpacePane">
          <li class="SSCell ShiftListViewCell"
            uiclass="ShiftListViewCell"
            options="{
              properties: ['space', 'userName', 'text', 'href', 'date', 'domain']
            }">
            <div class="selected">
              <input type="checkbox"/>
            </div>
            <div class="comments"></div>
            <div>To <span class="userName"></span></div>
            <img class="spaceIcon"></img>
            <div>on <span class="domain"></span></div>
            <div class="text"></div>
            <div class="date"></div>
          </li>
        </ul>
      </div>
      <!-- End My Comemnts View -->

      <!-- Start My Favorites View -->
      <div class="SSTabPane">
        <ul id="MyFavoritesListView"
            class="SSListView ShiftListView"
            uiclass="ShiftListView"
            outlet="MyShiftSpacePane">
          <li class="SSCell ShiftListViewCell"
              uiclass="ShiftListViewCell"
              options="{
                properties: ['space', 'href', 'gravatar', 'userName', 'summary', 'modified', 'commentCount']
              }">
            <div class="selected">
              <input type="checkbox"/>
            </div>
            <img class="spaceIcon"></img>
            <div class="summary"></div>
            <div class="user">
              <div class="gravatarContainer">
                <img class="rounded-image gravatar"></img>
              </div>
              <div class="userName"></div>
            </div>
            <div class="domain"></div>
            <div class="date"></div>
            <div class="comments"></div>
          </li>
        </ul>
      </div>
      <!-- End My Favorites View -->

    </div>
    
  </div>
  <!-- End MyShiftSpaceTabView -->

</div>
