<div id="MyShiftSpacePane" 
     class="SSTabPane"
     uiclass="MyShiftSpacePane">

  <!-- Start MyShiftSpaceTabView -->
  <div id="MyShiftSpaceTabView"
       class="SSTabView SSTabViewSubTabStyle"
       uiclass="SSTabView">

    <div class="SSControlView">
      <div class="SSButton SSActive">My Shifts</div>
      <div class="SSButton">My Comments</div>
      <div class="SSButton">My Favorites</div>
    </div>
    
    <div class="SSContentView">

      <!-- Start My Shifts List View -->
      <div class="SSTabPane">

          <div id="SSFilter"
               class="SSFilter"
               uiclass="SSFilter"
               options="{
                 listView: 'MyShiftsListView'
               }">
              <label>Filter by:</label>
              <select id="SSFilterBy"
                      outlet="SSFilter">
                  <option value="summary">Summary</option>
                  <option value="href">URL</option>
                  <option value="tag">Tag</option>
                  <option value="spaceName">Space Name</option>
              </select>
              <input id="SSFilterQuery" type="text" outlet="SSFilter"></input>
              <div class="toggle"></div>
          </div>

        <ul id="MyShiftsListView"
            class="SSListView ShiftListView"
            uiclass="ShiftListView"
            outlet="MyShiftSpacePane"
            options="{
              filterable: true
            }">

          <li class="SSCell ShiftListViewCell"
              uiclass="ShiftListViewCell"
              options="{
                hideSameDomain: false,
                properties: ['space', 'href', 'domain', 'summary', 'modifiedStr', 'commentCount'],
                actions: [              
                  {
                    selector: '.domain a',
                    target: 'AllShiftsView',
                    method: 'openShift'
                  }
                ]
              }">
              <span class="selected">
                  <input type="checkbox"/>
              </span>
              <img class="spaceIcon"></img>
              <div class="summaryContainer">
                  <span class="summary"></span>
                  /
                  <span class="domain">
                      <a></a>
                  </span>
              </div>
              <div class="date"></div>
              <div class="comments"></div>
          </li>
          
        </ul>
      </div>
      <!-- End My Shifts List View -->

      <!-- Start My Comments View -->
      <div class="SSTabPane">
        <ul id="MyCommentsListView"
            class="SSListView ShiftListView"
            uiclass="ShiftListView"
            outlet="MyShiftSpacePane">
          <li class="SSCell ShiftListViewCell"
            uiclass="ShiftListViewCell"
            options="{
              properties: ['space', 'userName', 'text', 'href', 'createdStr', 'commentCount']
            }">
            <span class="selected">
                <input type="checkbox"/>
            </span>
            <div class="comments"></div>
            <div>To <span class="userName"></span>'s</div>
            <img class="spaceIcon"></img>
            <div>on <span class="domain"></span></div>
            <div class="text"></div>
            <div class="date"></div>
          </li>
        </ul>
      </div>
      <!-- End My Comemnts View -->

      <!-- Start My Favorites View -->
      <div class="SSTabPane">
        <ul id="MyFavoritesListView"
            class="SSListView ShiftListView"
            uiclass="ShiftListView"
            outlet="MyShiftSpacePane">
          <li class="SSCell ShiftListViewCell"
              uiclass="ShiftListViewCell"
              options="{
                properties: ['space', 'href', 'gravatar', 'userName', 'summary', 'modifiedStr', 'commentCount','favoriteCount']
              }">
              <div class="shiftMeta">
                  <span class="selected">
                    <input type="checkbox"/>
                  </span>
                  <img class="spaceIcon"></img>
                  <span class="summaryContainer">
                    <span class="spaceName"></span>
                    <span class="summary"></span>
                  </span>
                  <span class="domain"></span>
                </div>
                <div class="userDateMeta">
                  <div class="status"></div>
                  <div class="user">
                    <div class="gravatarContainer">
                        <img class="rounded-image gravatar" width="16" height="16"></img>
                    </div>
                    <div class="userName"></div>
                  </div>
                  <div class="date"></div>
                </div>
                <div class="comments"></div>
                <div class="favorite">
                    <div class="favoriteCount"></div>
                    <div class="favoriteButton favorited"></div>
                </div>
          </li>
        </ul>
      </div>
      <!-- End My Favorites View -->

    </div>
    
  </div>
  <!-- End MyShiftSpaceTabView -->

</div>
