#SSSetServersForm
{
  margin-left: 10px;
  margin-top: 10px;
}

#SSSetServersForm label
{
  display: block;
}

#SSSetServersForm input
{
  width: 300px;
  display: block;
}

ul#SSInstalledSpaces
{
  list-style-type: none;
}

ul#SSInstalledSpaces li
{
   width: 50%;
   float: left;
   border-left: 2px solid #ccc;
   border-bottom: 2px solid #ccc;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

div#SSInstalledSpacesTabPane
{
  overflow-y: scroll;
  position: absolute;
  top: 14px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#PreferencesTab .col, #InterfaceTab .col
{
   float: left;
   width: 50%;
}

#PreferencesTab .col div, #InterfaceTab .col div
{
   margin-bottom: 5px;
}

#InterfaceTab input.SSInputField[type=text]
{
   width: 80px;
}