#SSCutupWidget{
  padding:6px;
  position:fixed;
  z-index:99;
  background-color:#373719;
  padding:3px;
  font-family:Verdana, sans-serif !important;
  font-size:10px;
  line-height:15px;
  color:#EEE;
  opacity:0.80;
  filter:alpha(opacity=80);
}
#SSCutupControls,#SSCutupWidget label{
  float:left; 
}
#SSCutupWidget label{
  padding:0 3px;
  display:block;
  line-height:15px;
}
#SSCutupButton,
#SSCutupButtonSave,
#SSCutupButtonCancel{
  float:left;
  cursor:pointer;
  background-color:#999;
  color:#333;
  text-align:center;
  line-height:15px;
  display:block;
  border:1px solid #777;
  border-top:none;
  border-right:none;
}
#SSCutupButton{
  margin-bottom:3px;
  margin-left:8px;
  padding:0 3px;
}
#SSCutupButtonSave{
  margin-left:4px;
  margin-bottom:3px;
  padding:0 3px;
}
#SSCutupButtonCancel{
  margin-bottom:3px;
  margin-left:4px;
  margin-right:3px;
  padding:0 3px;
}
#SSCutupLabel{
  float:left;
  line-height:15px;
  display:block;
}
#SSCutupTitle{
  float:left;
  background-color:#DDD;
}
#SSCutupHandle{
  display:block;
  width:10px;
  height:10px;
  background-color:#888;
}
