#SSCutupWidget{
  padding:6px;
  top:100px;
  left:0;
  z-index: 500000;
  position:fixed;
  background-color:#373719;
  padding:3px;
  font-family:Verdana, sans-serif !important;
  font-size:10px;
  line-height:15px;
  color:#EEE;
  height:34px;
  width:430px;
  border: 0px solid #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#SSCutupControls,#SSCutupWidget label{
  float:left; 
}
#SSCutupWidget label{
  color:#B7B799;
  display:block;
  line-height:15px;
  width:30px;
  background-image: url(button_sprite.png);
  background-position: center -75px;
  background-repeat:no-repeat;
  text-indent: -99999px;
  -moz-user-select: none;
  -webkit-user-select:none;
}
#SSCutupButtonCutup,
#SSCutupButtonCancel,
#SSCutupButtonSave,
#SSCutupButtonClose{
  float:left;
  cursor:pointer;
  background-color:#999;
  color:#333;
  text-align:center;
  line-height:15px;
  display:block;
  border:1px solid #777;
  border-top:none;
  border-right:none;
}
#SSCutupButtonCutup:hover,
#SSCutupButtonCancel:hover,
#SSCutupButtonSave:hover,
#SSCutupButtonLarger:hover,
#SSCutupButtonSmaller:hover{
  background-color:#AAAAAA;
}
#SSCutupButtonCutup:active,
#SSCutupButtonCancel:active,
#SSCutupButtonSave:active,
#SSCutupButtonLarger:active,
#SSCutupButtonSmaller:active{
  background-color:#CCCCCC;
}
#SSCutupButtonClose:hover{
  background-color:#F03E22;
}
#SSCutupButtonClose:active{
  background-color:#FF5E42;
}  
#SSCutupButtonCutup{
  margin-bottom:3px;
  margin-left:8px;
  padding:0 3px;
  width:35px;
  height:15px;
  background-repeat:no-repeat;
  background-image: url(button_sprite.png);
  background-position:center 0px;
}
#SSCutupButtonCancel{
  margin-bottom:3px;
  margin-left:4px;
  padding:0 3px;
  width:35px;
  height:15px;
  background-repeat:no-repeat;
  background-image: url(button_sprite.png);
  background-position:center -15px;
}
#SSCutupButtonSave{
  margin-left:4px;
  margin-bottom:3px;
  padding:0 3px;
  width:30px;
  height:15px;
  background-repeat:no-repeat;
  background-image: url(button_sprite.png);
  background-position:center -30px;  
}
#SSCutupButtonClose{
  margin-bottom:3px;
  margin-left:4px;
  margin-right:3px;
  padding:0 3px;
  background-color:#E02E12;
  color:#FFFFFF; 
  border: 1px solid #AF0F0F;
  border-right: none;
  border-top:none;
  width:10px;
  height:15px;
  background-repeat:no-repeat;
  background-image: url(button_sprite.png);
  background-position: center -45px;
}
#SSCutupButtonClose:hover{
  background-color:#EF2F1F;
}
#SSCutupTitleLabel{
  float:left;
  line-height:15px;
  display:block;
}
#SSCutupTitle{
  float:left;
  display:block;
  width:128px;
  padding-left:2px;
  line-height:15px;
  height:15px;
  background-color:#DDD;
  font-size:10px;
  -moz-user-select:none;
  -webkit-user-select:none;
}
#SSCutupHandle{
  display:block;
  width:100%;
  height:12px;
  margin-bottom:4px;
  background-color:#575739;
}
#SSCutupChunkLabel{
  display:block;
  float:left;
  width:65px;
  height:15px;
  margin-left:7px;
  /* background-color:green; */
  background-image: url(button_sprite.png);
  background-repeat:no-repeat;
  background-position: center -90px;
}
#SSCutupButtonSmaller{
  display:block;
  float:left;
  width:12px;
  height:15px;
  background-image: url(button_sprite.png);
  background-repeat:no-repeat;
  background-position: 0px -105px;
  background-color:#999;
  cursor:pointer;
}
#SSCutupButtonLarger{
  display:block;
  float:left;
  width:12px;
  height:15px;
  background-image: url(button_sprite.png);
  background-repeat:no-repeat;
  background-position: -12px -105px;
  background-color:#999;
  cursor:pointer;  
}
#SSCutupChunkAmount{
  color:#FFF;
  display:block;
  float:left;
  font-size:8px;
  font-family:Verdana;
  height:15px;
  line-height:15px;
  width:12px;
  text-align:center;
  cursor:default;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.SSCutup{
  -moz-user-select:none;
  -webkit-user-select:none;
}
