#SSCutupWidget{
  /* height:37px; */
  z-index:99;
  background-color:#333;
  opacity:0.98;
  filter:alpha(opacity=98);
}
#SSCutupButton{
  cursor: pointer;
  display: block;
  margin-top:15px;
  margin-bottom:3px;
  margin-left:8px;
  background-color:#999;
  border:1px solid #777;
  border-top:none;
  border-right:none;
  text-align:center;
  font-family: Verdana, sans-serif !important;
  font-size:10px !important;
  float:left;
  line-height:15px;
  color:#333;
  padding:0 3px;
}
  
#SSCutupButtonSave{
  cursor:pointer;
  display:block;
  margin-top:15px;
  margin-left:4px;
  margin-bottom:3px;
  background-color:#999;
  border:1px solid #777;
  border-top:none;
  border-right:none;
  text-align:center;
  font-family: Verdana, sans-serif !important;
  font-size:10px !important;
  float:left;
  line-height:15px;
  color:#333;
  padding:0 3px;
}
#SSCutupButtonClose{
  cursor:pointer;
  display:block;
  margin-bottom:3px;
  margin-top:15px;
  margin-left:4px;
  margin-right:3px;
  background-color:#999;
  border:1px solid #777;
  border-top:none;
  border-right:none;
  text-align:center;
  font-family: Verdana, sans-serif !important;
  font-size:10px !important;
  float:left;
  line-height:15px;
  color:#333;
  padding:0 3px;
}
