body 
{
  bottom: 0px;
  left: -10px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: -10px;
}

#title
{
  margin-top: 10px;
  margin-right: 10px;
}

#SSSandalphonControls
{
  float: left;
  width: 100%;
  border-bottom: 1px solid #752f05;
  background-color: #e6e4a3;
}

#SSSandalphonControls form
{
  margin-top: 10px;
  margin-left: 10px;
  font-family: helvetica;
  font-size: 12px;
}

#SSSandalphonControls form table th
{
  font-weight: normal;
  font-size: 12px;
  text-align: right;
}

#SSSandalphonControls form table input[type=text]
{
  width: 300px;
}

#SSSandalphonControls span
{
  float: right;
  font-family: helvetica;
  color: #752f05;
  font-size: 24px;
}

#SSSandalphonDisplay
{
  float: left;
  width: 100%;
}

#SSSandalphonContainer
{
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}