body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#SSSandalphonControls
{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 20px;
  border-bottom: 1px solid #752f05;
  padding: 10px;
  background-color: #e6e4a3;
}

#SSSandalphonControls span
{
  float: right;
  font-family: helvetica;
  color: #752f05;
  font-size: 24px;
}

#SSSandalphonDisplay
{
  position: absolute;
  
  left: 0px;
  top: 30px;
  bottom: 0px;
  right: 0px;
  
  padding: 10px;
}

#SSSandalphonContainer
{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

#loadFileInput
{
  width: 400px;
}