#AllShiftsListView.
{
  left: 166px;
}

.ShiftListView{
  top: 1px;
}

ul.ShiftListView li.ShiftListViewCell{
  position: relative;
  height: 26px;
  border-top: 1px solid #BBB4AF;
  line-height: 26px;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

ul.ShiftListView li.ShiftListViewCell:hover{
  background-color: #A1C49C;
  border-top-color: #6aa07e;
}

ul.ShiftListView li.ShiftListViewCell:hover+li{
  border-top-color: #6aa07e;   
}

ul.ShiftListView li.ShiftListViewCell:last-child{
  border-bottom: 1px solid #BBB4AF;
}

ul.ShiftListView li.ShiftListViewCell:last-child:hover{
  border-bottom-color: #6aa07e;
}

ul.ShiftListView li.ShiftListViewCell input{
  vertical-align: middle;  
}

.ShiftListView .ShiftListViewCell div.draft{
  width: 100px;
  text-align: right;
  background-repeat: repeat-y;
}

ul.ShiftListView li.ShiftListViewCell:hover div.draft{
  background-image: url(/images/green_fade_bg.png);
}

.ShiftListView .ShiftListViewCell:nth-child(odd) div.draft{
  background-image: url(/images/gray_fade_bg.png);
}

.ShiftListView .ShiftListViewCell:nth-child(even) div.draft{
  background-image: url(/images/white_fade_bg.png);
}

.ShiftListView li.ShiftListViewCell .userDateMeta{
  height: 26px;
  line-height: 26px;
  position: absolute;
  right: 150px;
  top: 0px;
}

.ShiftListView li.ShiftListViewCell div.shiftMeta{
  height: 26px;
  line-height: 26px;
  padding-right: 320px;
}

.ShiftListView li.ShiftListViewCell .userDateMeta *{
  float: left;
}

.ShiftListView li.ShiftListViewCell .user{
  margin-top: 4px;  
}
