.SSListView
{
  padding: 0px;
  background-color: orange;
  width: 100%;
  height: 100%;
}

.SSListView.HorizontalListView > li.SSListViewCell
{
  float: left;
}

.SSListView.VerticalListView > li.SSListViewCell
{
  display: block;
}