.SSListView
{
  padding: 0px;
}

.SSListView > .SSCell
{
  display: none;
}

.SSListView.HorizontalListView > li.SSListViewCell
{
  float: left;
}

.SSListView.VerticalListView > li.SSListViewCell
{
  display: block;
}