.SSNotifierViewFrame
{
  position: fixed;
  bottom: 0px;
  background-color: red;
  border: none;
  height: 35px;
  overflow: hidden;
  width: 200px;
}

.SSNotifierOpen
{
  width: 100%;
}

.SSNotifierClosed
{
  width: 200px;
}

.SSNotifierHidden
{
  margin-left: -200px;
}

.SSNotifierHiddenBodyMargin
{
  margin-left: -208px;
}

.SSNotifierVisible
{
  margin-left: 0px;
}
