.SSNotifierViewFrameBody
{
  margin: 0px;
  width: 100%;
  height: 100%;
}

.SSNotifierView
{
  height: 100%;
  background-color: red;
}

.SSNotifier .SSNotifierSubView, .SSNotifierViewFrameBody .SSNotifierSubView
{
  display: none;
}

.SSNotifier .SSNotifierSubView.SSActive, .SSNotifierViewFrameBody .SSNotifierSubView.SSActive
{
  display: block;
  width: 100%;
  height: 100%;
}

#SSSelectSpace
{
  float: left;
}

#SSGreeting
{
  float: right;
}

#SSLogInOut
{
  float: right;
}
