.SSNotifierViewFrame
{
  position: fixed;
  bottom: 0px;
  background-color: red;
  border: none;
  height: 35px;
  overflow: hidden;
  width: 200px;
  z-index: 1000001;
}

.SSNotifierOpen
{
  width: 100%;
}

.SSNotifierClosed
{
  width: 200px;
}

.SSNotifierHidden
{
  left: -200px;
}

.SSNotifierVisible
{
  left: 0px;
}
