.SSNotifierViewFrameBody
{
  margin: 0px;
  width: 100%;
  height: 100%;
  border: #dfebe1 solid;
  border-width: 3px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f8f5f2;
}

.SSNotifierViewFrameBody #SSNotifierControlsView.SSNotifierSubView
{
  margin: 5px 5px 5px 30px;
  background: url(../images/shiftspace_icon.png) 5px 10px;
  height: auto;
  width: auto;
}

.SSNotifierView
{
  height: 100%;
  background-color: red;
}

.SSNotifier .SSNotifierSubView, .SSNotifierViewFrameBody .SSNotifierSubView
{
  display: none;
}

.SSNotifier .SSNotifierSubView.SSActive, .SSNotifierViewFrameBody .SSNotifierSubView.SSActive
{
  display: block;
  width: 100%;
  height: 100%;
}

#SSToggleConsole,
#SSSelectSpace
{
  float: left;
}

#SSGreeting
{
  float: right;
}

#SSLogInOut
{
  float: right;
}
