#ActionMenu {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 22px;
  background: transparent url(../images/Actions/bg.png) repeat-x;
  padding: 1px 0 0 2px;
  z-index: 1;
}

#ActionMenu .group {
  float: left;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  margin-right: 6px;
  height: 18px;
}

#ActionMenu .button {
  display: block;
  float: left;
  background-color: #faf9f7;
  margin-left: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -moz-border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  opacity: 0.85;
}

#privacy
{
  opacity: 0.85;
}

#ActionMenu a.button:hover, #ActionMenu div#privacy:hover
{
  opacity: 1.0;
}

#ActionMenu a.button.disabled:hover, #ActionMenu div#privacy.disabled:hover
{
  opacity: 0.3;
}

#ActionMenu .button.disabled, #ActionMenu #privacy.disabled, #SSMakeShiftPublicButton.disabled, #SSMakeShiftPrivateButton.disabled
{
  opacity: 0.3;
}

#ActionMenu .favorite  { background-image: url(../images/Actions/unstarred.png); }
#ActionMenu .link      { background-image: url(../images/Actions/link.png); }
#ActionMenu .trails    { background-image: url(../images/Actions/trails.png); }
#ActionMenu .delicious { background-image: url(../images/Actions/delicious.png); }
#ActionMenu .edit      { background-image: url(../images/Actions/edit.png); }
#ActionMenu .delete    { background-image: url(../images/Actions/delete.png); }

#ActionMenu .dropdown {
  float: left;
  background: #faf9f7 url(../images/Actions/arrow.gif) no-repeat right top;
  margin-left: 4px;
  cursor: pointer;
  -moz-border-radius: 3px;
  height: 18px;
}

#ActionMenu .first {
  margin-left: 0;
}

#ActionMenu .dropdown .option {
  background-position: 2px 2px;
  display: none;
  text-decoration: none;
  background-repeat: no-repeat;
  padding: 1px 12px 4px 18px;
  border-top: 1px solid #fae6de;
}

#ActionMenu .dropdown .first, #ActionMenu .dropdown .selected {
  border-top: none;
  margin-top: 0;
  padding-top: 2px;
}

#ActionMenu .dropdown a:hover {
  color: #F63B02;
}

/*
#ActionMenu .dropdown .first {
  padding-left: 5px;
  border-top: 0;
}
*/

#ActionMenu .dropdown .selected {
  display: block;
}

#privacy.toggleMenu
{
  height: 40px;
}

#privacy.toggleMenu #SSSetBatchPrivacy
{
  display: none;
}

#privacy.toggleMenu .option
{
  display: block;
  opacity: 1.0;
}

#privacy.batchMenu
{
  height: 60px;
}

#privacy.batchMenu, #privacy.toggleMenu
{
  opacity: 1.0;
}

#privacy.batchMenu #SSSetBatchPrivacy
{
  display: block;
}

#privacy.batchMenu .option
{
  display: block;
}

#ActionMenu .dropdown-open .option {
  /*display: block;*/
}

#ActionMenu .dropdown .public { background-image: url(../images/Actions/public.png); }
#ActionMenu .dropdown .private { background-image: url(../images/Actions/private.png); }

#privacyOptions {
  position: absolute;
  display: none;
}

#privacyOptions.open {
  display: block;
}

#privacyOptions .option {
  margin-top: 2px;
  display: block;
}