<div id="GroupDetailView"
     class="SSSubView"
     uiclass="GroupDetailView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <div class="SSShadedBox">
        <h2>
            <span class="longName">Long Name</span> (&amp;<span class="shortName">shrtnm</span>)
        </h2>
        <div class="tagLine">tag line goes here</div>
        <div class="url">http://shiftspace.org</div>
    </div>

    <div class="buttonsUI">
        <button id="JoinGroup" class="join SSButtonMajor SSDeemphasized" outlet="GroupDetailView">Join Group</button>
        <button id="DetailInviteUsers" class="invite SSButtonMajor SSDeemphasized" outlet="GroupDetailView">Invite Users</button>
        <button id="DetailGroupSettings" class="settings SSButtonMajor SSDeemphasized" outlet="GroupDetailView">Settings</button>
    </div>

    <div class="SSAccordion">
        <h3 class="DetailGroupShiftCount"><span class="shiftCount">2347</span> Shifts</h3>
        <h3 id="DetailGroupUserCount" class="userCount" outlet="GroupDetailView">
            <span class="adminCount">2</span> Admins + 
            <span class="memberCount">2324</span> Members
        </h3>
    </div>

</div>
