#GroupDetailView 
{
  color: #74665A;  
}

#GroupDetailView > div:first-child
{
  background-color: #E3DFDB;

}

#GroupDetailView h2
{
  font-size: 15px;
  margin: 0 0 10px;
}

#GroupDetailView .tagLine,
#GroupDetailView .url
{
  font-size: 12px;
  line-height: 1.4em;
  padding-left: 25px;
}

#GroupDetailView .tagLine
{
  background:url(/images/Pane/info.png) no-repeat;
}

#GroupDetailView .url
{
  background:url(/images/Pane/link.png) no-repeat;
}

#GroupDetailView .longName
{
  color: #F63B02;
}

#GroupDetailView .shortName
{
  color: #74665A;  
}

#GroupDetailView button.join,
#GroupDetailView button.invite,
{
  margin-right: 54px;
}

#GroupDetailView button.settings
{
  float: right
}

#GroupDetailView .buttonsUI
{
  height: 24px;
  line-height: 24px;  
  padding: 5px 0;
}

.DetailGroupShiftCount,
.userCount
{
  padding-left: 4px;
  height: 24px;
  line-height: 24px;
  border-top: 1px solid #C9CCC4;
  background-color: #F1EDEB;
}

.shiftCount,
.adminCount,
.memberCount
{
  font-weight: bold;
}
