<div id="GroupDetailView"
     class="SSSubView"
     uiclass="GroupDetailView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <div>
        <div class="longName"></div>
        <div class="shortName"></div>
        <div class="url"></div>
    </div>

    <div>
        <button id="JoinGroup" outlet="GroupDetailView" class="join">Join Group</button>
        <button class="invite">Invite Users</button>
        <button class="settings">Settings</button>
    </div>

    <div>
        <div class="shiftCount"></div>
        <div class="userCount">
            <span class="adminCount"></span> Admins
            <span class="memberCount"></span> Members
        </div>
    </div>

</div>
