<div id="EditGroupView"
     class="SSSubView"
     uiclass="EditGroupView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <h>Start A New Group</h>
    <h>Edit Group</h>

    <form id="GroupForm" outlet="EditGroupView">
        <label>Group Name<span>*</span>:</label>
        <input type="text" name="longName"></input>

        <label>Group Handle<span>*</span>(keep it short):</label>
        <input type="text" name="shortName"></input>

        <label>Tag Line<span>*</span>:</label>
        <input type="text" name="tagLine"></input>
        
        <label>URL:</label>
        <input type="text" name="url"></input>
    </form>

    <div class="userCount">
        <span class="adminCount"></span> Admins + <span class="memberCount"></span> Members (click to edit)
    </div>

    <ul id="GroupMemberListView"
        class="SSListView"
        uiclass="SSListView">
        <li class="SSCell"
            uiclass="SSCell">
        </li>
    </ul>

    <div>
        <button id="InviteUsers" outlet="EditGroupView">Invite User</button>
        <button id="CancelAction" outlet="EditGroupView">Cancel</button>
        <button id="CreateGroup" outlet="EditGroupView">Create</button>
        <button id="SaveGroup" outlet="EditGroupView">Save</button>
    </div>
</div>
