#EditGroupView
{
    color: #74665A;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px; 
}

#EditGroupView > #CreateTitle
{
    height: 36px;
    line-height: 36px;
    margin: 0;
    font-size: 15px;
    color: #F63B02;
}

#EditGroupView form
{
    background-color: #E3DFDB;
}

#EditGroupView form label
{
    display: block;
    color:  #74665A;
}

#EditGroupView form label span{
    font-weight: normal;
    color: #F63B02;
}

#EditGroupView form  input[type="checkbox"]
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    
}

#EditGroupView form div
{
    position: relative;
    heigth: 20px;
    line-height: 20px;
    padding: 0px 4px;
}

#EditGroupView form input
{
    display: block;
    width: 100%;
}

#EditGroupView form input.shortName
{
    width: 156px;
}

#EditGroupView .userCount
{
    padding-left: 2px;
    font-size: 15px;
}

#EditGroupView #InviteUsers
{
    color: 74665A;
    border: 2px solid #B3ADA5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#EditGroupView #CancelAction
{
    float: right;
    color: #D7D1DC;
    background-color: inherit;
    text-decoration: underline;
    border: none;
}

#EditGroupView #CancelAction span
{
    color: #74665A;
}

#EditGroupView #CreateGroup
{
    float: right;
    margin-left: 4px;
    color: #F63B02;
    border: 2px solid #B3ADA5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#EditGroupView #SaveGroup
{
    float: right;
    margin-left: 4px;
    color: #F63B02;
    border: 2px solid #B3ADA5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#GroupMemberListViewContainer
{
   height: 125px;
}

#GroupMemberListView
{
   list-style: none;
   min-height: 125px;
   background-color: #eee;
}

.MemberListViewCell
{
   display: inline;
}

#EditGroupMember
{
   height: 125px;
   background-color: #eee;
}