<div id="EditGroupView"
     class="SSSubView"
     uiclass="EditGroupView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <h2 id="CreateTitle" outlet="EditGroupView">Start A New Group</h2>
    <h2 id="EditTitle" outlet="EditGroupView">Update Group Settings</h2>

    <form id="GroupForm" outlet="EditGroupView" class="SSShadedBox">
        <div>
            <label><strong>Group Name</strong><span>*</span>:</label>
            <input class="SSInputField longName" type="text" name="longName"></input>
        </div>

        <div>
            <label><strong>Group Handle</strong><span>*</span>(keep it short):</label>
            <input class="SSInputField shortName" type="text" name="shortName"></input>
        </div>

        <div>
            <label><strong>Tag Line</strong><span>*</span>:</label>
            <textarea class="SSTextArea tagLine" name="tagLine"></textarea>
        </div>
        
        <div>
            <label><strong>URL</strong>:</label>
            <input class="SSInputField url" type="text" name="url"></input>
        </div>

        <div>
            <input class="SSInputField visible" type="checkbox" name="isVisible" checked="true"></input>
            <label>All users can find and apply to this group</label>
        </div>
    </form>

    <div id="GroupMemberListViewContainer" outlet="EditGroupView">
        <ul id="GroupMemberListView"
            class="SSListView"
            uiclass="SSListView"
            outlet="EditGroupView">
            <li class="SSCell MemberListViewCell"
                uiclass="MemberListViewCell"
                options="{
                  properties: ['gravatar', 'userName'],
                  actions: [
                    {
                      selector: '.gravatar, .userName',
                      method: 'editMember',
                      target: 'EditGroupView'
                    }
                  ]
                }">
                <div class="user">
                    <span class="gravatarContainer">
                        <img class="rounded-image gravatar" width="16" height="16"></img>
                    </span>
                    <span class="userName"></span>
                </div>
            </li>
        </ul>
    </div>

    <div class="panelButtons">
        <button id="InviteUsers" class="SSButtonMajor SSDeemphasized" outlet="EditGroupView">Invite Users</button>
        <button id="SaveGroup" class="SSButtonMajor SSSecondary" outlet="EditGroupView">Update</button>
        <button id="CreateGroup" class="SSButtonMajor SSSecondary" outlet="EditGroupView">Create Group</button>
        <button id="CancelAction" class="SSButtonMinor" outlet="EditGroupView"><span>Cancel</span></button>
    </div>
</div>
