#SSConsoleWindow
{
  position: fixed;
  right: 50px;
  bottom: 0px;
  width: 380px;

  border: 0;
  overflow: hidden;
}

.SSConsoleWindowOpen
{
   height: 87px;
}

.SSConsoleWindowTall
{
   height: 300px;
}

.SSConsoleWindowResizerTall
{
   bottom: 278px;
}

.SSConsoleWindowShort
{
   height: 260px;
}

.SSConsoleWindowResizerShort
{
   bottom: 238px;
}

.SSConsoleWindowFront
{
   z-index: 1000000;
}

.SSConsoleWindowBack
{
   z-index: 999999;
}