<div id="MessageDetailView"
     class="SSSubView"
     uiclass="MessageDetailView"
     options="{
       delegate:'SSConsoleWindow'
     }">

    <div>
        <div class="header">
            <div class="top">
                <label>Sender:</label>
                <span class="userName">alan Schaffer</span>
                <span class="createdStr">3 hours ago</span>
            </div>

            <div class="bottom">
                <label>Title:</label>
                <span class="title">This is a test for the css (This is a test for the css)</span>
            </div>
        </div>

        <div id="MessageBodyMultiView"
             class="body SSMultiView"
             uiclass="SSMultiView"
             outlet="MessageDetailView">

            <div id="InviteSubView" class="SSSubView SSActive">
                <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                <button id="MDVJoinGroup" outlet="MessageDetailView">Join</button>
                <button id="MDVGroupDetails" outlet="MessageDetailView">Details</button>
            </div>

            <div id="BrokenShiftSubView" class="SSSubView">
                <div class="text"></div>
            </div>

            <div id="CommentSubView" class="SSSubView">
                <div class="text"></div>
            </div>

            <div id="FollowSubView" class="SSSubView">
                <div class="text"></div>
            </div>

            <div id="ShareSubView" class="SSSubView">
                <div class="text"></div>
                <button id="MDVShowShift" outlet="MessageDetailView">Show Shift</button>
            </div>
        </div>
        
        <div class="footer">
            <div>
                <button class="previous"> Previous</button>
                <button class="next">Next</button>
            </div>
        </div>
    </div>

</div>
