<div id="SpaceSettingsView"
     class="SSSubView"
     uiclass="SpaceSettingsView"
     options="{
       delegate:'SSConsoleWindow'
     }">
    
    <div class="SpaceInfo">
        <h2 id="SpaceSettingsSpaceName" outlet="SpaceSettingsView">Space Name</h2>
        <h2 class="tagLine">Tagline</h2>
        <div class="blurb">
            <p></p>
        </div>
        <div>
            <div>
                <input class="SSInputField" type="checkbox"></input>
                <label>Launch <span class="spaceName">space</span> shifts automatically.</label>
            </div>
            <div>
                <input class="SSInputField" id="SSDebugSpace" outlet="SpaceSettingsView" type="checkbox"></input>
                <label>Debug this space</label>
            </div>
            <button>Uninstall</button>
        </div>
        <div>
            <h3>Settings</h3>
            <p></p>
        </div>
        <div>
            <h3>Tutorial Video</h3>
            <p></p>
        </div>
        <div>
            <span class="count">0</span> public shifts
        </div>
        <div>
            <span class="count">0</span> shifts by me
        </div> 
    </div>

</div>
