#SpaceSettingsView
{
   left: 24px;
   position: absolute;
   right: 8px;
   max-height: 145px;
}

#SpaceSettingsView h2
{
   padding: 0px;
   margin: 0px;
}

.SpaceDetails
{
   padding: 4px;
   background-image: url(/images/Console/content-shadow.png);
   background-color: #E3DFDB;
}

.SpaceDetails h2
{
   font-size: 16px;
}

.SpaceDetails h2.name
{
   color: #F63B02;
}

.SpaceDetails h2.tagline
{
}

.SpaceDetails p.description
{
   font-size: 12px;
   padding-top: 4px;
   padding-bottom: 4px;
   background-image: url(/images/Console/info.gif);
   background-repeat: no-repeat;
   padding-left: 20px;
}

.SpaceDetails a.url
{
   font-size: 12px;
   padding-top: 4px;
   padding-bottom: 4px;
   background-image: url(/images/Console/groups-perm.gif);
   background-repeat: no-repeat;
   padding-left: 20px;
}

#UninstallSpace
{
   float: right;
}

.SpaceInfo .controls
{
   float: left;
   width: 100%;
   padding-top: 6px;
   padding-bottom: 6px;
}

.SSAccordion
{
   clear: both;
}