<div id="SpaceSettingsView"
     class="SSSubView"
     uiclass="SpaceSettingsView"
     options="{
       delegate:'SSConsoleWindow'
     }">
    
    <div class="SpaceInfo">
        <h2>Space Name</h2>
        <h2>Tagline</h2>
        <div class="blurb">
            <p></p>
        </div>
        <div>
            <span>
                <input type="checkbox"></input>
                <label>Launch <span class="spaceName">space</span> shifts automatically.</label>
            </span>
            <button>Uninstall</button>
        </div>
    </div>

</div>
