<div id="SpaceSettingsView"
     class="SSSubView"
     uiclass="SpaceSettingsView"
     options="{
       delegate:'SSConsoleWindow'
     }">
    
    <div class="SpaceInfo">
        <h2>Space Name</h2>
        <h2>Tagline</h2>
        <div class="blurb">
            <p></p>
        </div>
        <div>
            <span>
                <input type="checkbox"></input>
                <label>Launch <span class="spaceName">space</span> shifts automatically.</label>
            </span>
            <button>Uninstall</button>
        </div>
        <div>
            <h3>Settings</h3>
            <p></p>
        </div>
        <div>
            <h3>Tutorial Video</h3>
            <p></p>
        </div>
        <div>
            <span class="count">0</span> public shifts
        </div>
        <div>
            <span class="count">0</span> shifts by me
        </div> 
    </div>

</div>
