.SSSubTabView
{
  background-color:#e6e4a3;
  width: 400px;
  height: 400px;
}

.SSSubTabView .SSControlView
{
  
}

.SSSubTabView .SSControlView .SSButton
{
  
}

.SSSubTabView .SSControlView div.SSActive
{
  color: red;
}

.SSSubTabView .SSContentView div.SSActive
{
  
}

.SSSubTabView .SSContentView:first-of-type
{
}

.SSSubTabView .SSContentView div
{
  display:none;
}

.SSSubTabView .SSContentView .SSActive
{
  display:block;
}