#MessagesListView li > *
{
   float: left;
}

ul.ShiftListView li.ShiftListViewCell div.messageMeta
{
   padding:4px;
}

#MessagesListViewContainer
{
   bottom: 0px;
   position: absolute;
   right: 0px;
   height: 100%;
   overflow-y: auto;
}


