#MessagesListView li > *
{
   float: left;
}

ul.ShiftListView li.ShiftListViewCell div.messageMeta
{
   padding:4px;
}

#MessagesListViewContainer
{
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   position: absolute;
   overflow-y: auto;
}


