<div id="InboxPane" 
     class="SSTabPane"
     uiclass="InboxPane"
     outlet="SSConsole">

  <!-- MessageOptions Start -->
  <div id="MessageOptions" class="leftSideBar">
    <div>Messages to show:</div>
    
    <div>
      <input type="checkbox" checked="true"></input>
      <label>Direct messages</label>
    </div>
    
    <div>
      <input type="checkbox"></input>
      <label>Commented shifts</label>
    </div>
    
    <div>
      <input type="checkbox"></input>
      <label>Broken shifts</label>
    </div>
    
    <div>
      <input type="checkbox"></input>
      <label>Follow Notices</label>
    </div>
    
    <div>
      <input type="checkbox"></input>
      <label>System alerts</label>
    </div>
    
    <div>
      <input type="checkbox"></input>
      <label>ShiftSpace news</label>
    </div>
    
    <div>
      <input type="checkbox"></input>
      <label>Group invites</label>
    </div>
    
  </div>
  <!-- MessageOptions End -->
  
  <!-- MessagesListView Start -->
  <ul id="MessagesListView"
      class="SSListView ShiftListView"
      uiclass="ShiftListView"
      outlet="InboxPane">

    <li class="SSCell ShiftListViewCell" 
	uiclass="ShiftListViewCell"
	options="{properties:['unread', 'gravatar', 'userName', 'modified', 'displayString']}">
      <div class="selected">
	<input type="checkbox"/>
      </div>
      <div class="unread"></div>
      <div class="displayString"></div>
      <div class="gravatarContainer">
          <img class="rounded-image gravatar" width="16" height="16"></img>
      </div>
      <div class="userName"></div>
      <div class="date"></div>
    </li>

  </ul>
  <!-- MessagesListView End -->
  
</div>
