<div id="mainTabView" class="SSTabView SSTabViewConsoleStyle" uiclass="SSTabView">
  
  <div id="mainTabControl" class="SSControlView">
    <div id="select1" class="SSButton SSActive">Shifts</div>
    <div id="select2" class="SSButton">Settings</div>
    <div id="select3" class="SSButton">Login</div>
  </div>
  
  <div id="mainTabContentView" class="SSContentView">

    <!-- start shifts view -->
    <div id="shiftsTabView" class="SSTabView SSTabViewSubTabStyle SSActive" uiclass="SSTabView">

      <div id="settingsTabControl" class="SSControlView">
        <div id="shifts" class="SSButton SSActive">Shifts</div>
        <div id="myshifts" class="SSButton">My Shifts</div>
        <div id="following" class="SSButton">Following</div>
      </div>

      <div class="SSContentView" autoresize="1">
        <!-- Start SSTableView interface definition -->
        <div class='SSTableView SSActive' uiclass="SSTableView">

          <!-- Start TableView Header -->
          <div class="SSControlView">
            <!-- we need a cell class for the following -->
            <div class="SSModel SSColumnHeading SSDefaultCursor">
              <span class="SSColumnHeadingTitle"></span>
              <div class="SSResize"></div>
              <div class="SSColumnOrder"></div>
            </div>
          </div>
          <!-- End TableView Header -->

          <!-- Start wrapping Scroll View -->
          <div class="SSScrollView">

            <!-- Start Content View -->
            <table class='SSContentView' sortColumns="1">

              <!-- start the table definition-->
              <colgroup class='SSDefinition'>
                <col name="selected" width="75"></col>
                <col name="space" width="150" resizeable="1"></col>
                <col name="summary" width="250" resizeable="1"></col>
                <col name="username" width="150" resizeable="1"></col>
                <col name="created" width="150" order="descending" resizeable="1"></col>
              </colgroup>
              <!-- end the control view -->

              <!-- define the model -->
              <tbody>
                <tr class="SSRow SSModel" uiclass='SSCustomTableRow'>
                  <td name="selected"><input class="SSActionCell" type="checkbox"></input></td>
                  <td name="space"><img/><span/></td>
                  <td name="summary"><div class="SSTextCell">summary</div></td>
                  <td name="username">dnolen</td>
                  <td name="created">Just created.</td>
                </tr>
              </tbody>
              <!-- end the model -->

            </table>
            <!-- End Content View -->

          </div>
          <!-- End Wrapping ScrollArea for table view -->

        </div>
        <!-- End Actual Table View -->
        
        <div>My Shifts</div>
        <div>Tracked Shifts</div>
      </div>
       <!-- End shifts subtab content view -->
    </div>
    <!-- End Sub tab view>

    <!-- Start Settings subtab view -->
    <div id="settingsTabView" class="SSTabView SSTabViewSubTabStyle" uiclass="SSTabView">

      <div id="settingsTabControl" class="SSControlView">
        <div id="spaces" class="SSButton">Spaces</div>
        <div id="plugins" class="SSButton">Plugins</div>
        <div id="misc" class="SSButton">Misc</div>
      </div>

      <div id="settingTabContentView" class="SSContentView">
        <div>Pane 1</div>
        <div>Pane 2</div>
        <div>Pane 3</div>
      </div>

    </div>
    <!-- end setting subtab view -->

    <!-- Start User Pane -->
    <div>Pane 3</div>
    <!-- End User Pane -->

  </div>
  
</div>