<div id="SSConsole">
  
  <div class="SSTabView SSTabViewConsoleStyle" uiclass="SSTabView">
  
    <div class="SSControlView">
      <div title="Shifts" class="SSButton SSActive SSLocalized">Shifts</div>
      <div title="Settings" class="SSButton SSLocalized">Settings</div>
      <div title="Login" class="SSButton SSLocalized">Login</div>
      <div title="Welcome" class="SSButton SSLocalized">Welcome</div>
    </div>
  
    <div class="SSContentView">
      <?customView:ShiftsTabView?>
      <?customView:SettingsTabView?>
      <div>Pane 3</div>
      <div>Welcome</div>
    </div>
  
  </div>
  
</div>
