<div id="GroupsPane"
     class="GroupsPane SSTabPane"
     uiclass="GroupsPane"
     outlet="SSConsole">

    <!-- Starts Groups TabView -->
    <div id="GroupsTabView"
         class="SSTabView SSTabViewSubTabStyle"
         uiclass="SSTabView"
         outlet="GroupsPane">

        <div class="SSControlView">
            <div class="SSButton SSActive">Your Groups</div>
            <div class="SSButton">Browse Groups</div>
            <div class="SSButton">Start New Group</div>
        </div>

        <!-- Start subtabs -->
        <div class="SSContentView">
            <!-- START Your Groups subtab -->
            <div id="YourGroups" class="SSTabPane">
                Your Groups
            </div>
            <!-- END Your Groups subtab -->

            <!-- Start Browse Groups subtab -->
            <div id="BrowseGroups" class="SSTabPane">
                <ul id="GroupsListView"
                    uiclass="SSListView"
                    class="SSListView PeopleListView"
                    outlet="GroupsPane">
                    <li uiclass="PeopleListViewCell"
                        class="SSCell PeopleListViewCell">
                        <span class="groupName"></span>
                    </li>
                </ul>
            </div>
            <!-- End Browse Groups subtab -->

            <!-- Start Start New Group subtab -->
            <div id="StartNewGroup"
                 class="SSTabPane"
                 outlet="GroupsPane">
	        <div id="NewGroupInfo">
	            <form id="GroupForm" outlet="GroupsPane">
                        <div>
	                    <label>Group Name:</label>
	                    <input name="longName" type="text"></input>
                        </div>
                        <div>
	                    <label>Group Short Name:</label>
	                    <input name="shortName" type="text"></input>
                        </div>
                        <div>
	                    <label>Description:</label>
	                    <textarea name="tagLine"></textarea>
                        </div>
	                <input id="CreateGroupButton" type="button" value="Create Group" outlet="GroupsPane"></input>
	            </form>
	        </div>
	        <div id="AddGroupUsers">
	            <input id="AddUserField" name="AddUserField" type="text" value="Type a user name"></input>
	            <input id="AddUserButton" name="AddUserButton" type="button" value="Add User"></input>
	        </div>
            </div>
            <!-- End Start New group subtab -->

        </div>
        <!-- End subtabs -->

    </div>
    <!-- End Groups TabView -->

</div>
