<div id="GroupsPane"
     class="GroupsPane SSTabPane"
     uiclass="GroupsPane"
     outlet="SSConsole">

    <!-- Starts Groups TabView -->
    <div id="GroupsTabView"
         class="SSTabView SSTabViewSubTabStyle"
         uiclass="SSTabView"
         outlet="GroupsPane">

        <div class="SSControlView">
            <div class="SSButton SSActive">Your Groups</div>
            <div class="SSButton">Browse Groups</div>
            <div class="SSButton">Start New Group</div>
        </div>

        <!-- Start subtabs -->
        <div class="SSContentView">
            <!-- START Your Groups subtab -->
            <div id="MyGroups" class="SSTabPane">
                <ul id="MyGroupsListView"
                    uiclass="SSListView"
                    class="SSListView PeopleListView"
                    outlet="GroupsPane">
                    <li uiclass="GroupListViewCell"
                        class="SSCell GroupListViewCell"
                        options="{
                          properties: ['shortName', 'longName', 'level'],
                          actions: [
                            {
                              selector: '.settings',
                              target: 'GroupsPane',
                              method: 'editGroup'
                            }
                          ]
                        }">
                        <span class="shortName"></span>
                        <span class="longName"></span>
                        <button class="settings SSDisplayNone">Settings</button>
                    </li>
                </ul>
            </div>
            <!-- END Your Groups subtab -->

            <!-- Start Browse Groups subtab -->
            <div id="BrowseGroups" class="SSTabPane">
                <ul id="GroupsListView"
                    uiclass="SSListView"
                    class="SSListView PeopleListView"
                    outlet="GroupsPane">
                    <li uiclass="GroupListViewCell"
                        class="SSCell GroupListViewCell"
                        options="{
                          properties: ['shortName', 'longName', 'level'],
                          actions: [
                            {
                              selector: '.settings',
                              target: 'GroupsPane',
                              method: 'editGroup'
                            }
                          ]
                        }">
                        <span class="shortName"></span>
                        <span class="longName"></span>
                        <button class="settings SSDisplayNone">Settings</button>
                    </li>
                </ul>
            </div>
            <!-- End Browse Groups subtab -->

            <!-- Start Start New Group subtab -->
            <div id="StartNewGroup"
                 class="SSTabPane"
                 outlet="GroupsPane">
            </div>
            <!-- End Start New group subtab -->

        </div>
        <!-- End subtabs -->

    </div>
    <!-- End Groups TabView -->

</div>
