ul#FollowingListView, ul#FollowersListView, ul#SearchUsersListView
{
   list-style: none;
   height: 100%;
   overflow-y: scroll;
   margin: 0px;
}

li.PeopleListViewCell
{
   float: left;
   width: 33%;
}