<div id="PeoplePane"
     class="SSTabPane PeoplePane"
     uiclass="PeoplePane"
     outlet="SSConsole">
     
  <div id="PeopleTabView" 
       class="SSTabView SSTabViewSubTabStyle"
       uiclass="SSTabView"
       outlet="PeoplePane">

    <div class="SSControlView">
      <div class="SSButton SSActive">Following<span class="count"></span></div>
      <div class="SSButton">Followers<span class="count"></span></div>
    </div>

    <div class="SSContentView">
      <div class="SSTabPane">Following</div>
      <div class="SSTabPane">Followers</div>
    </div>

  </div>

</div>