/* Allows Position Fixed Behavior with Position Absolute */
html, body 
{
  height: 100%;	
  overflow: auto; 
}

body > #MoMAConsole.IE6
{
  position: absolute;
  bottom: 0px ;
  left: 0px;
  right: 0px;
}