/* Some of these should be removed since they prevent CSS cascading */
.ShiftSpaceElement {
    /*font-family: sans-serif;*/
    /*font-size: 12px;*/
    font-weight: normal;
    font-style: normal;
    /*color: #000;*/
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: normal;
    text-align: start;
    vertical-align: baseline;
    direction: ltr;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    opacity: 1;
    width: auto;
    height: auto;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    position: static;
    /*display: block;*/
    visibility: visible;
    z-index: auto;
    overflow: visible;
    white-space: normal;
    /*clip: auto;*/
    float: none;
    clear: none;
    cursor: auto;
    list-style-image: none;
    list-style:position: outside;
    list-style-type: disc;
    marker-offset: none;
    word-spacing: normal;
}

.SSUserSelectNone
{
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.SSDisplayNone
{
  display: none;
}

.SSDefaultCursor
{
  cursor: default;
}

.SSPositionRelative
{
  position: relative;
}

/*
  Console Notifier that sits outside the console
*/

#ShiftSpaceConsole
{
}

body > #SSConsole
{
  position: fixed;
  height: 180px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  border: 0px;
}

#SSConsoleResizer
{
  position: fixed;
  /*background-color:red;*/
  bottom:180px;
  cursor:ns-resize;
  height:10px;
  left:10px;
  right:10px;
}

#SSConsoleResizeMask
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000001;
  cursor: ns-resize;
}

.SSConsoleNotifier
{
  z-index: 1000003;
  position: fixed;
  bottom: -32px;
  left: 31px;
  background: transparent url(../images/Console/notifier-bg.png) no-repeat;
  width: 30px;
  height: 32px;
}

/*
  Iframe Cover stuff
*/

.SSIframeCover
{
  position: absolute;
  background-color: #f00;
  opacity: 0.0;
  z-index: 2000000;
}

/*
  This should probably eventually be in it's own file
*/

.SSPinSelect
{
  position: absolute;
  border: dotted 1px #F63B02;
  z-index: 1000003;
}

.SSPinSelectInset
{
  position: absolute;
  border: dotted 1px #F63B02;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 1000003;
}

.SSPinWidget
	font-family: Helvetica, Verdana, Arial, sans-serif;
{
  width: 19px;
  height: 19px;
}

.SSPinWidget img.normal
{
  background-image: url(../images/ShiftMenu/pin_icon.png);  
}

.SSPinWidgetMenuOpen
{
  background-image: url(../images/ShiftMenu/menu-bg.png);
  background-repeat: no-repeat;  
}

.SSPinWidget img
{
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
}

.SSPinWidget img.select
{
  background-image: url(../images/ShiftMenu/pin_icon-element.png);
}

.SSPinWidget img.pinned
{
  background-image: url(../images/ShiftMenu/pin_icon-pinned.png);
}

.SSPinMenu
{
  z-index:1000;
  color: black;
  width: 150px;
  position: absolute;
}

.SSPinMenu div .SSLeft
{
  width: 122px;
}

.SSPinMenu div .radio
{
  width: 20px;
  height: 20px;
  background-position: 5px 2px;
}

.SSPinMenu div .on
{
  background-image: url(../images/ShiftMenu/radio_button-on.png);
  background-repeat: no-repeat;
}

.SSPinMenu div .off
{
  background-image: url(../images/ShiftMenu/radio_button-off.png);
  background-repeat: no-repeat;
}

.SSPinMenu div .SSRight
{
  width: 8px;
}

.SSPinMenuItem
{
  clear: both;
  font-size: 11px;
}

.SSPinMenuItem div
{
  float: left;
}

.SSPinMenu div div span
{
  padding-left: 4px;
  line-height: 190%;
}

.SSPinMenuItem .SSLeft
{
  background-image: url(../images/ShiftMenu/middle-left.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSPinMenuItem:hover .SSLeft
{
  background-image: url(../images/ShiftMenu/middle-left-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSPinMenuItem .SSRight
{
  background-image: url(../images/ShiftMenu/middle-right.png);
  background-repeat: no-repeat;
  height: 20px;
}

div.SSPinMenuItem:hover .SSRight
{
  background-image: url(../images/ShiftMenu/middle-right-hover.png);
  background-repeat: no-repeat;
  height: 20px;
}

.SSPinMenuBottomItem
{
  clear: both;
  font-size: 11px;
}

.SSPinMenuBottomItem div
{
  float: left;
}

.SSPinMenuBottomItem .SSLeft
{
  background-image: url(../images/ShiftMenu/bottom-left.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSPinMenuBottomItem:hover .SSLeft
{
  background-image: url(../images/ShiftMenu/bottom-left-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSPinMenuBottomItem .SSRight
{
  background-image: url(../images/ShiftMenu/bottom-right.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSPinMenuBottomItem:hover .SSRight
{
  background-image: url(../images/ShiftMenu/bottom-right-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSPinMenuTopItem
{
  clear: both;
  font-size: 11px;
}

.SSPinMenuTopItem div
{
  float: left;
}

.SSPinMenuTopItem .SSLeft
{
  background-image: url(../images/ShiftMenu/top-left.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSPinMenuTopItem:hover .SSLeft
{
  background-image: url(../images/ShiftMenu/top-left-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSPinMenuTopItem .SSRight
{
  background-image: url(../images/ShiftMenu/top-right.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSPinMenuTopItem:hover .SSRight
{
  background-image: url(../images/ShiftMenu/top-right-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

/* Global ShiftSpace Menu Styles */

.SSMenu
{
  z-index:1000;
  color: black;
  width: 150px;
  overflow: visible;
  position: absolute;
}

.SSMenu div .SSLeft
{
  width: 122px;
  padding-left: 8px;
}

.SSMenu div .SSRight
{
  width: 8px;
  font-family: verdana;
}

.SSMenuItem
{
  clear: both;
  font-size: 11px;
}

.SSMenuItem div
{
  float: left;
}

.SSMenu li div span
{
  padding-left: 10px;  
}

.SSMenuItem div span
{
  line-height: 220%;
}

.SSMenuTopItem div span
{
  line-height: 220%;
}

.SSMenuBottomItem div span
{
  line-height: 200%;
}

.SSMenuItem .SSLeft
{
  background-image: url(../images/ShiftMenu/middle-left.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSMenuItem:hover .SSLeft
{
  background-image: url(../images/ShiftMenu/middle-left-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSMenuItem .SSRight
{
  background-image: url(../images/ShiftMenu/middle-right.png);
  background-repeat: no-repeat;
  height: 20px;
}

div.SSMenuItem:hover .SSRight
{
  background-image: url(../images/ShiftMenu/middle-right-hover.png);
  background-repeat: no-repeat;
  height: 20px;
}

.SSMenuBottomItem
{
  clear: both;
  font-size: 11px;
}

.SSMenuBottomItem div
{
  float: left;
}

.SSMenuBottomItem .SSLeft
{
  background-image: url(../images/ShiftMenu/bottom-left.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSMenuBottomItem:hover .SSLeft
{
  background-image: url(../images/ShiftMenu/bottom-left-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSMenuBottomItem .SSRight
{
  background-image: url(../images/ShiftMenu/bottom-right.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSMenuBottomItem:hover .SSRight
{
  background-image: url(../images/ShiftMenu/bottom-right-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSMenuTopItem
{
  clear: both;
  font-size: 11px;
}

.SSMenuTopItem div
{
  float: left;
}

.SSMenuTopItem .SSLeft
{
  background-image: url(../images/ShiftMenu/top-left.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSMenuTopItem:hover .SSLeft
{
  background-image: url(../images/ShiftMenu/top-left-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSMenuTopItem .SSRight
{
  background-image: url(../images/ShiftMenu/top-right.png);
  background-repeat: repeat-x;
  height: 20px;
}

div.SSMenuTopItem:hover .SSRight
{
  background-image: url(../images/ShiftMenu/top-right-hover.png);
  background-repeat: repeat-x;
  height: 20px;
}

.SSDisabledMenuItem
{
  opacity: 0.5;
}

.SSPinWidgetButton
{
  width: 19px;
  height: 19px;
}

/* Console Plugin Menu */

#SSConsolePluginMenu
{
  z-index:1000002;
  position: fixed;
}

#SSConsolePluginMenuTab
{
  position: fixed;
  width: 25px;
  height: 22px;
  background: transparent url(../images/ShiftMenu/menu-bg-reverse-shadowed.png);
  z-index:1000003;
}

.SSPluginMenuTabIcon
{
 width: 100%;
 height: 100%;
 margin-left: 3px;
 background: transparent;
 background-repeat: no-repeat;
 background-position: 3px 3px;
}

/* Error Window */

.SSErrorWindow
{
  position: fixed;

  top: 10px;
  right: 10px;
  
  font-size: 12px;
  
  padding: 10px;

  width: 280px;
  height: 100px;
  
  background-color: #e6e4a3;
  opacity: 0.95;
  
  border: 3px solid #f63b01;
  border-radius: 10px;
  -moz-border-radius: 10px;
  
  z-index: 1000003;
}

.SSErrorWindowTitle
{
  width: 100%;
  color: #f63b01;
}

.SSErrorWindowMessage
{
  color: #000;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.SSErrorWindowBottom
{
  margin-top: 5px;
}

.SSErrorWindowExpand
{
  float: left;
  width: 7px;
  height: 7px;
  background-image: url(../images/ShiftSpace/shiftspace_error-arr-closed.gif);
  margin-top: 4px;
}

.SSErrorWindowExpandOpen
{
  background-image: url(../images/ShiftSpace/shiftspace_error-arr-opened.gif);
}

.SSErrorWindowDisclosure
{
  position: absolute;

  right: 10px;
  left: 10px;

  padding-top: 6px;
  border-top: dotted 1px #f63b01;
}

.SSErrorWindowExpandLabel
{
  margin-left: 10px;
}

.SSErrorWindowOk
{
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 2px 4px 2px 4px;
  border: 1px solid #f63b01;
}

.SSErrorWindowButton
{
  position: absolute;
  bottom: 10px;
  padding: 2px 4px 2px 4px;
  border: 1px solid #f63b01;
}

.SSErrorWindowFix
{
  right: 44px;
}

table.SSErrorWindowShiftStatus
{
  display: table;
  font-size: 12px;
}

.SSErrorWindowShiftStatus tr
{
  display: table-row-group;
}

.SSErrorWindowShiftStatus td
{
  display: table-cell;
}

.SSErrorWindowShiftProperty
{
  font-weight: bold;
}

.SSErrorWindowShiftStatusScroll
{
  margin-top: 4px;
  /*width: 300px;*/
  height: 178px;
  border: 1px solid #f63b01;
  background-color: #f2f2da;
  overflow-y: auto;
}

#SSModalDiv
{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 2000000;
}

#SSDragDiv
{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  z-index: 2000000;
}