.SSTabView > .SSControlView > .SSButton
{
  color: #74665A;
}

.SSTabView.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  position: relative;
  z-index:10;
  color: #F63B02;
  top:1px;
  /*-moz-box-shadow: 0px 0px 4px #A9D4BA;*/
  -webkit-box-shadow: 0px 0px 4px #A9D4BA;
}


.SSTabView > .SSControlView > div.SSButton:hover
{
  background-color: #fff;
}


#MainTabView > .SSControlView > .SSButton
{
  float: left;
  height: 44px !important;
  margin-right: 6px;
  background-color: inherit;
  padding: 5px 10px;
  margin-right: -12px;
}

.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  background-color: #E6E4A3;
}

/*
  Console sub tab styles
*/

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
  text-align: center;
  height: 20px;
  line-height: 20px;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton.SSActive
{
  font-weight: bold;
}

.SSTabViewSubTabStyle > .SSControlView
{
  position: absolute;
  top: 18px;
  left: 12px;
  bottom: 0px;
  width: 137px;
  border-right: solid 1px #000;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
  padding: 4px;
  border-bottom: 1px solid;
}

.SSTabViewSubTabStyle > .SSContentView
{
  position: absolute;
  top: 0px;
  left: 150px;
  right: 0px;
  bottom: 0px;
}

/*
  Global Shift list view styles
*/

.ShiftListView
{
  position: absolute;
  left: 166px;
  top: 0px;
  right: 6px;
  bottom: 0px;
  border:1px solid #DDD7D2; /*TODO: use image for gradient border*/
}

.ShiftListView
{
  overflow-y: auto;
  height: 100%;
  margin-top: 4px;
}

  .ShiftListView .ShiftListViewCell
  {
    float: left;
    width: 100%;
    height: 28px;
    padding-top: 4px;
  }
  
    .ShiftListView .ShiftListViewCell > *
    {
      float: left;
      margin-top: 2px;
    }
    
    .ShiftListView .ShiftListViewCell .spaceName
    {
      margin-left: 10px;
      display: none;
      font-weight: bold;
    }
    
    ul.ShiftListView li.ShiftListViewCell:hover .spaceName
    {
      display: inline;
    }
    
    .ShiftListView .ShiftListViewCell div.summaryContainer
    {
      min-width: 485px;
      color: #4B423A;
    }

    .ShiftListView .ShiftListViewCell div.summary
    {
      margin-left: 10px;
      display: inline-block;
      color: #4B423A;
    }
    
    .ShiftListView .ShiftListViewCell div.status
    {
      margin-top: -3px;
      margin-right:2px;
      width: 22px;
      height: 26px;
      background-repeat: no-repeat;
    }

    .ShiftListView .ShiftListViewCell div.status.private
    {
    }

    .ShiftListView .ShiftListViewCell div.status.public
    {
      background-image:url(/images/Console/publicicon.png);
/*      background-position:-8 -8;*/
    }

    .ShiftListView .ShiftListViewCell:nth-child(2n+0)
    {
      background-color: #F8F5F2;
    }

    .ShiftListView .ShiftListViewCell:nth-child(2n+1)
    {
      background-color: #F0EDEB;
    }

    ul.ShiftListView li.ShiftListViewCell:hover
    {
      background-color: white;
      z-index: 2;
    }

    .ShiftListView .ShiftListViewCell.selected
    {
      background-color: #81C49C;
    }

    .ShiftListView .ShiftListViewCell .spaceIcon
    {
      margin-left: 10px;
    }

    .ShiftListView .ShiftListViewCell .user > *
    {
      float: left;
    }

    .ShiftListView .ShiftListViewCell .gravatar
    {
      position: relative;
      width: 16px;
      -moz-border-radius: 4px 0px 0px 4px;
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
    }

    .ShiftListView .ShiftListViewCell canvas.gravatar:hover, .ShiftListView .ShiftListViewCell img.gravatar:hover
    {
      top: -8px;
      margin-left: -8px;
      width: 32px;
      height: 32px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }

    .ShiftListView .ShiftListViewCell div.userName
    {
      font-size: 10px;
      color: #4B423A;
      background-color: #D5D1CE;
      background-color: #ccc;
      padding-top: 1px;
      padding-left: 4px;
      padding-right: 4px;
      height: 16px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-sizing: border-box;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -webkit-border-bottom-right-radius: 4px;
      cursor:pointer;
    }

    .ShiftListView .ShiftListViewCell div.userName:hover
    {
      color: white;
      background-color: #746559;
      padding-right:12px;
      background-image:url(/images/Console/arrow_light.png);
      background-position:right;
      background-repeat:no-repeat;
    }

    .ShiftListView .ShiftListViewCell div.userName.loggedin
    {
      font-weight: bold;
    }

    .ShiftListView .ShiftListViewCell div.date
    {
      margin-left: 6px;
    }

    .ShiftListView .ShiftListViewCell div.favorite
    {
      float: right;
      margin-right: 0px;
    }

    .ShiftListView .ShiftListViewCell div.favorite div
    {
      float: left;
    }

    .ShiftListView .ShiftListViewCell div.favorite div.favoriteButton
    {
      width: 18px;
      height: 18px;
      /*background-color: #ccc;*/
      background-image: url(/images/Console/stars.png);
      background-repeat: no-repeat;
      background-position:0 -52;
      margin-left:5px;
      margin-top:-3px;
      cursor:pointer;
    }
    
    
    ul.ShiftListView li.ShiftListViewCell:hover div.favorite div.favoriteButton
    {
      background-position:0 -26;
    }
    
    ul.ShiftListView li.ShiftListViewCell:hover div.favorite div.favoriteButton:hover, 
    ul.ShiftListView li.ShiftListViewCell div.favorite div.favoriteButton.favorited
    {
      background-position:0 0;
    }

    .ShiftListView .ShiftListViewCell div.comments
    {
      float: right;
      width:30px;
      height:20px;
      margin-right:20px;
      margin-top:-2px;
      padding-top:6px;
      text-align:center;
      background:url(/images/Console/commentballoon.png) no-repeat;
      cursor:pointer;
    }
    
    .ShiftListView .ShiftListViewCell div.comments.hasComment
    {
      background-position:0 -26;
      color:#F8F5F2;
    }

/* Sidebars */

.leftSideBar
{
  position: absolute;
  left: 16px;
  width: 160px;
  top: 18px;
  bottom: 0px;
  z-index: 2;
  color: #4B423A;
  background-color: #DDD7D2;
  border: 1px solid #CEC9C3;
  -webkit-box-shadow: inset 0 0 8px #BEB9B3;
}

.leftSideBar > div:first-child
{
  height:16px;
  line-height:16px;
  margin-top: 4px;
  margin-bottom:2px;
  font-weight:bold;
}

.letSideBar > div
{
  margin-left: 4px;
}

.leftSideBar input:checked + label
{
  font-weight:bold;
}