.SSTabView > .SSControlView > .SSButton
{
  color: #74665A;
}

.SSTabView.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  position: relative;
  z-index:10;
  color: #F63B02;
  top:1px;
  -moz-box-shadow: 0px 0px 4px #A9D4BA;
  -webkit-box-shadow: 0px 0px 4px #A9D4BA;
}


.SSTabView > .SSControlView > div.SSButton:hover
{
  background-color: #fff;
}


.SSTabViewConsoleStyle > .SSControlView > .SSButton
{
  float: left;
  margin-right: 6px;
  background-color: inherit;
  height: 20px;
  padding: 5px 10px;
  border-top: 3px solid #D4E7DA;
  border-left: 3px solid #D4E7DA;
  border-right: 3px solid #D4E7DA;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
}

.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  background-color: #E6E4A3;
}

.SSTabViewConsoleStyle > .SSContentView
{
  clear: both;
  position: absolute;
  top: 31px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-style: solid;
  border-width: 3px 3px 0px 3px;
  border-color: #D4E7DA;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-box-shadow: 0px 0px 4px #A9D4BA, 0px 0px 4px #A9D4BA;
  -webkit-box-shadow: 0px 0px 4px #A9D4BA, 0px 0px 4px #A9D4BA;
  background-color:#F7F2EF;
}

/*
  Console sub tab styles
*/

.SSTabViewSubTabStyle > .SSControlView
{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 125px;
  border-right: solid 1px #000;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
  padding: 4px;
  border-bottom: 1px solid;
}

.SSTabViewSubTabStyle > .SSContentView
{
  position: absolute;
  top: 0px;
  left: 126px;
  right: 0px;
  bottom: 0px;
}