/* Basic Element Styles =================================== */


/* Form Elements ============================================== */

input[type=text].SSInputField,
input.SSInputField[type=password],
textarea.SSTextArea
{
   background: #f7f5f2 url(/images/input.text.png);
   border: #b3ada5 solid 1px;
   color:#464540;
   padding:2px 3px;
   height: 21px;
   font-size:12px;
   line-height: 1.4em;
}

/* These cannot be done in CSS and will have to happen in JS: */
input.SSInputField[type=checkbox]
{
   background: url(images/checkbox.png);
   background-position: top center;
}

input.SSInputField[type=checkbox]:hover
{
   background-position: center center;
}

input.SSInputField[type=checkbox]:checked
{
   background-position: bottom center;
}

/* Buttons ============================================== */


.SSButtonMajor{
   background-color: #f63b02;
   color:#fff;
   border:2px #b52b01 solid;
   -moz-border-radius: 11px;
   -webkit-border-radius: 11px;
   padding:1px 10px 1px 9px;
   font-weight:bold;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 11px;
}

.SSButtonMajor.SSSecondary{
   background: none;
   border:2px #f63b02 solid;
   color: #f63b02;
}

.SSButtonMajor.SSDeemphasized{
   background: none;
   border:2px #cac5be solid;
   color: #74665a;
}

.SSButtonMinor{
   background: none;
   border: 0;
   color: #f63b02;
   text-decoration: underline;
   padding:2px 5px 1px 4px;
   font-size: 11px;
   font-weight: bold;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.SSButtonMinor.SSDeemphasized{
   padding:1px 5px 0 4px;
   font-weight: normal;
   text-align: left;
   color: #4B423A;
   text-decoration: none;
}

.SSButtonMajor:hover,
.SSButtonMinor:hover
{
	cursor: pointer;
}

div.panelButtons{
    margin-top: 10px;
}

/* States ============================================= */

.SSStatus{
	font-size: 11px;
	color: #4B423A;
}

/* Modules ============================================= */

.SSShadedBox{
   background:url(/images/Console/content-shadow.png) #E3DFDB;
   border:1px solid #CFCAC4;
   padding:4px;
}

.SSAccordion
{
    color: #74665A;
    background-color: #F1EDEB;
    font-weight:lighter;
}

.SSAccordion h3{
   padding: 2px 10px 1px;
   margin: 0;
   font-weight: normal;
   font-size: 15px;
   height: 22px;
   line-height: 22px;
   border-top: 1px #C8CDC4 solid;
}

.SSAccordion h3 span
{
    height: 18px;
    line-height: 18px;
    padding-left: 4px;
    font-weight: bold;
}

.SSAccordion h3:last-child
{
    border-bottom: 1px #C8CDC4 solid;
}

/* More Styles ============================================= */

.hide{
   display: none;
}

.SSTabView > .SSControlView > .SSButton
{
  color: #74665A;
}

.SSTabView.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  position: relative;
  z-index:10;
  color: #F63B02;
  top:1px;
  /*-moz-box-shadow: 0px 0px 4px #A9D4BA;*/
  -webkit-box-shadow: 0px 0px 4px #A9D4BA;
}


.SSTabView > .SSControlView > div.SSButton:hover
{
  color: #F63B02;
}


#MainTabView > .SSControlView > .SSButton
{
  float: left;
  height: 44px !important;
  margin-right: 6px;
  background-color: inherit;
  /*padding: 5px 10px;*/
  margin-right: -12px;
}

.SSTabViewConsoleStyle > .SSControlView > .SSButton.SSActive
{
  background-color: #E6E4A3;
}

/*
  Console sub tab styles
*/

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
  text-align: center;
  height: 32px;
  line-height: 28px;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton.SSActive
{
  font-weight: bold;
}

.SSTabViewSubTabStyle > .SSControlView
{
  position: absolute;
  bottom: 0px;
  width: 148px;
  color: #F63B02;
}

.SSTabViewSubTabStyle > .SSControlView > .SSButton
{
}

.SSTabViewSubTabStyle > .SSContentView
{
  position: absolute;
  top: 0px;
  left: 158px;
  right: 0px;
  bottom: 0px;
}

/*
  Global Shift list view styles
*/

.ShiftListView, .PeopleListView
{
   position: absolute;
   top: 4px;
   bottom: 0px;
   left: 0px;
   right: 4px;
   list-style: none;
   border:1px solid #DDD7D2; /*TODO: use image for gradient border*/
   border-top: none;
   overflow-y: auto;
   margin: 0px;
}

.ShiftListView.SSFilter
{
   top: 30px;
}

.ShiftListView .ShiftListViewCell
{
   float: left;
   width: 100%;
/*    height: 28px;
    padding-top: 4px;*/
}

ul.ShiftListView li.ShiftListViewCell input.SSInputField
{
   vertical-align:middle;
}

.ShiftListView .ShiftListViewCell > *
{
      /*float: left;*/
      /*margin-top: 2px;*/
}

/* Shift Actions *******************/

.ShiftListView li.ShiftListViewCell .shiftActions{
  display: block;
  width: 0;
  height: 26px;
  float: left;
  background: url(/images/Console/shiftActions.png) right no-repeat;
}

.ShiftListView li.ShiftListViewCell:hover .shiftActions{
  width: 60px;
}

/* Uncomment this to allow the wide options only for the user's shifts: */
/*
.ShiftListView li.ShiftListViewCell:hover .shiftActions{
  width: 30px;
}

.ShiftListView li.ShiftListViewCell.authorShift:hover .shiftActions{
  width: 60px;
}

.ShiftListView li.ShiftListViewCell .shiftActions .shiftActionEdit{
  display:none;
}

.ShiftListView li.ShiftListViewCell.authorShift .shiftActions .shiftActionEdit{
  display:block;
}

*/

.ShiftListView li.ShiftListViewCell .shiftActions *{
  display: none;
  float: left;
  text-indent: -9999px;
}

.ShiftListView li.ShiftListViewCell:hover .shiftActions *{
  display: block;
}

.ShiftListView li.ShiftListViewCell:hover .shiftActions span{
  width: 26px; height: 26px;
  display: block;
  background-position: top left;
}

.ShiftListView li.ShiftListViewCell .shiftActions .shiftActionShare{
  background: url(/images/Console/share.png) no-repeat;
}

.ShiftListView li.ShiftListViewCell .shiftActions .shiftActionEdit{
  background: url(/images/Console/edit.png) no-repeat;
}

.ShiftListView li.ShiftListViewCell .shiftActions span:hover{
  background-position: bottom left;
}

/*
.ShiftListView li.ShiftListViewCell .shiftActions input{
  margin:4px;
  background: url(/images/Console/share.png) no-repeat;
  border: 0;
}
*/

/* END Shift Actions ***************/

.ShiftListView .ShiftListViewCell .spaceName
{
   height: 26px;
   line-height: 26px;
   margin-left: 10px;
   display: none;
   font-weight: bold;
}

ul.ShiftListView li.ShiftListViewCell:hover .spaceName
{
      /*display: inline;*/
}

.ShiftListView .ShiftListViewCell div.summaryContainer,
.ShiftListView .ShiftListViewCell span.summaryContainer
{
  color: #4B423A;
  margin: 0px;
}

.ShiftListView .ShiftListViewCell span.wrapper
{
  /*
  position: absolute;
  bottom: 0px;
  left: 55px;
  right: 50px;
  top: 0px;
  overflow: hidden;
  */
}

.ShiftListView .ShiftListViewCell div.summary
{
   height: 26px;
   line-height: 26px;
   margin-left: 10px;
   display: inline-block;
   color: #4B423A;
}

#MyShiftSpacePane ul.ShiftListView li.ShiftListViewCell .domain a
{
   color:#B0A99C;
   border-bottom:1px solid #B0A99C;
   text-decoration:none;
   font-weight:thin;
}

.ShiftListView .ShiftListViewCell div.status
{
   margin-right:2px;
   width: 22px;
      /*height: 26px;*/
   height: 26px;
   line-height: 26px;
   background-repeat: no-repeat;
}

.ShiftListView .ShiftListViewCell div.status.private
{
}

.ShiftListView .ShiftListViewCell div.status.public
{
   background-image:url(/images/Console/publicicon.png);
/*      background-position:-8 -8;*/
   background-position: 0 -1px;
}

.ShiftListView .ShiftListViewCell:nth-child(2n+0)
{
   background-color: #F7F2EF;
}

.ShiftListView .ShiftListViewCell:nth-child(2n+1)
{
   background-color: #f0edeb;
}

ul.ShiftListView li.ShiftListViewCell:hover
{
   background-color: #FFF;
   z-index: 2;
}

.ShiftListView .ShiftListViewCell.selected
{
   background-color: #81C49C;
}

ul.ShiftListView li.ShiftListViewCell:hover .date{
   color: #74665A;
}

.ShiftListView .ShiftListViewCell .selected
{
   width:14px;
}
.ShiftListView .ShiftListViewCell .spaceIcon
{
   margin-left: 10px;
   vertical-align: middle;
}

.ShiftListView .ShiftListViewCell .summary {
   margin-left: 10px;
}

.ShiftListView .ShiftListViewCell .summary p {
   display: inline;
}

ul.ShiftListView li.ShiftListViewCell .domain a
{
  color:#B0A99C;
  border-bottom:1px solid #B0A99C;
  text-decoration:none;
  font-weight:thin;
}

ul.ShiftListView li.ShiftListViewCell .domain
{
  font-weight:bold;
}

.ShiftListView .ShiftListViewCell .user > *
{
   float: left;
}

.gravatarContainer > *
{
   float: left;
}

.SSFrame
{
   color: #74665A;
}

.SSFrame .gravatar
{
   position: relative;
   width: 16px;
   -moz-border-radius: 4px 0px 0px 4px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
}

.SSFrame div.user:hover img.gravatar
{
   top: -8px;
   margin-left: -8px;
   width: 32px;
   height: 32px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

.SSFrame .userName
{
   color: #4B423A;
   background-color: #dedad6;
   padding-top: 1px;
   padding-left: 4px;
   padding-right: 4px;
   height: 16px;
      /*margin-top: 5px;*/
   line-height: 12px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-sizing: border-box;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-bottomright: 4px;
   -webkit-border-bottom-right-radius: 4px;
   cursor:pointer;
   display: block;
   float: left;
}

.SSFrame div.user:hover div.userName
{
   color: white;
   background-color: #746559;
   padding-right:12px;
   background-image:url(/images/Console/arrow_light.png);
   background-position:right;
   background-repeat:no-repeat;
}

.SSFrame div.userName.loggedin
{
   font-weight: bold;
}

.ShiftListView .ShiftListViewCell div.date,
#SSCommentShift .user .createdStr,
#SSCommentsListView .createdStr
{
   margin-left: 6px;
   color: #B3ADA5;
}

.ShiftListView .ShiftListViewCell.selected div.date,
      .ShiftListView li.ShiftListViewCell.selected:hover div.date{
         color: #FFF;
      }

.ShiftListView .ShiftListViewCell div.favorite
{
   float: right;
   margin-right: 0px;
}

.ShiftListView .ShiftListViewCell div.favorite div
{
   float: left;
}

.ShiftListView .ShiftListViewCell div.favorite div.favoriteCount
{
}

.ShiftListView .ShiftListViewCell div.favorite div.favoriteButton
{
   width: 18px;
   height: 26px;
      /*background-color: #ccc;*/
   background-image: url(/images/Console/stars.png);
   background-repeat: no-repeat;
   background-position:0 -52;
   margin-left:5px;
   cursor:pointer;
}


ul.ShiftListView li.ShiftListViewCell:hover div.favorite div.favoriteButton
{
   background-position:0 -26;
}

ul.ShiftListView li.ShiftListViewCell:hover div.favorite div.favoriteButton:hover, 
   ul.ShiftListView li.ShiftListViewCell div.favorite div.favoriteButton.favorited
{
   background-position:0 0;
}

.ShiftListView .ShiftListViewCell div.comments
{
   float: right;
   width:30px;
   height:26px;
   text-align:center;
   background:url(/images/Console/commentballoon.png) no-repeat;
   cursor:pointer;
}

.ShiftListView .ShiftListViewCell div.comments.hasComment
{
   background-position:0 -26;
   color:#F8F5F2;
}

.ShiftListView .ShiftListViewCell.unread div
{
   font-weight:bold;
}

.ShiftListView li.ShiftListViewCell div.read
{
   width:12px;
   height:12px;
   margin:8px 4px;
   overflow:hidden;
   background:url(/images/Console/read.png) no-repeat;
}

.ShiftListView li.ShiftListViewCell.unread div.read
{
   background:url(/images/Console/unread.png) no-repeat;
}

/* Global 3-Column List View Styles */

ul#FollowingListView, ul#FollowersListView, ul#SearchUsersListView, ul#GroupsListView, ul#MyGroupsListView, ul#InviteUsersListView
{
   list-style: none;
   height: 100%;
   overflow-y: auto;
   margin: 0px;
}

li.PeopleListViewCell, li.GroupListViewCell
{
   float: left;
   height: 28px;
   line-height:28px;
   width: 33%;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

li.PeopleListViewCell > span, li.GroupListViewCell > span
{
   float: left;
   height: 100%;
}

li.PeopleListViewCell .userName
{
   line-height: 28px;
   margin-left: 8px;
}

li.PeopleListViewCell img, li.GroupListViewCell img
{
   margin-left: 3px;
   margin-top: 3px;
}

li.PeopleListViewCell:nth-child(6n+1), li.GroupListViewCell:nth-child(6n+1), li.PeopleListViewCell:nth-child(6n+2), li.GroupListViewCell:nth-child(6n+2), li.PeopleListViewCell:nth-child(6n+3), li.GroupListViewCell:nth-child(6n+3)
{
   background-color: #E3DFD8;
}

li.PeopleListViewCell:nth-child(6n+4), li.GroupListViewCell:nth-child(6n+4), li.PeopleListViewCell:nth-child(6n+5), li.GroupListViewCell:nth-child(6n+5), li.PeopleListViewCell:nth-child(6n+6), li.GroupListViewCell:nth-child(6n+6)
{
   background-color: #F7F2EF;
}

li.GroupListViewCell .shortName
{
   font-weight: bold;
}

li.GroupListViewCell .settings
{
   background-color: #aaa;
}

/* Sidebars */

.leftSideBar
{
  position: absolute;
  width: 160px;
  bottom: 0px;
  z-index: 2;
  color: #4B423A;
  background-color: #DDD7D2;
  border: 1px solid #CEC9C3;
  -webkit-box-shadow: inset 0 0 8px #BEB9B3;
}

.leftSideBar > div:first-child
{
  height:16px;
  line-height:16px;
  margin-top: 4px;
  margin-bottom:2px;
  font-weight:bold;
}

.letSideBar > div
{
  margin-left: 4px;
}

.leftSideBar input.SSInputField:checked + label
{
  font-weight:bold;
}

.SSSmallGreyButton
{
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 2px solid #B3ADA5;
   color: #74665A;
}

/* Animation Styles for SpaceSettingsView */

.settings-hidden
{
   height: 0px;
}

.settings-hidden *
{
   visibility: hidden;
}

.settings-open
{
   height: 50px;
}

.settings-open *
{
   visibility: visible;
}

.AutocompleteTip
{
  margin: 0;
  padding: 5px 0;
}

button.Autocomplete {
  background: transparent url(/images/Pane/publish-form-button.gif) center center no-repeat;
  border: 0 none;
  margin-top: 5px;
  padding: 4px 10px;
  position: absolute;
  right: 17px;
  text-indent: -2000px;
}

.AutocompleteList
{
   position: absolute;
   background-color: white;
}

.AutocompleteList div.autoResault
{
  padding: 2px;
}

.AutocompleteList div.autoResault img
{
  height: 20px;
  width: 20px;
  float: left;
}

.AutocompleteList div.autoResault span
{
  display:block;
  height:12px;
  padding:4px 4px 4px 24px;
}

.AutocompleteList div.selected
{
   background-color: #F63B02;
   color: #fff;
   font-weight: bold;
}