#SSProxyMessage {
	width: 610px;
	height: 94px;
	color: #736357;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.25em;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 2000000;
}

#SSProxyMessage a,
#SSProxyMessage a:hover,
#SSProxyMessage a:visited,
#SSProxyMessage a:active {
	color: #D36538;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}

#SSProxyMessageLeft {
	background: url(../images/Proxy/SSProxyMessage_bg.png);
	padding: 25px 0 25px 25px;
	float: left;
}

a#SSProxyMessageLogo,
a#SSProxyMessageLogo:hover,
a#SSProxyMessageLogo:visited,
a#SSProxyMessageLogo:active {
	width: 81px;
	height: 44px;
	display: block;
	float: left;
	background: none;
}

a#SSProxyMessageLogo:hover{
	background: #fff; 
}

a#SSProxyMessageSpace,
a#SSProxyMessageSpace:hover,
a#SSProxyMessageSpace:visited,
a#SSProxyMessageSpace:active {
	width: 59px;
	height: 44px;
	display: block;
	float: left;
	background: none;
}

a#SSProxyMessageSpace:hover {
	background: #fff;
}

a#SSProxyMessageSpace img {
	margin: 16px 20px;
	border: none;
}

#SSProxyMessagedescription {
	width: 300px;
	padding: 0 14px;
	display: block;
	float: left;
}

a#SSProxyMessageVisit,
a#SSProxyMessageVisit:hover,
a#SSProxyMessageVisit:active,
a#SSProxyMessageVisit:visited, {
	background: url(../images/Proxy/SSProxyMessage_arrow.png);
	padding: 25px 50px 25px 14px;
	width: 53px;
	height: 44px;
	display: block;
	float: left;
	color: #f8f5f2;
	font-weight: bold;
	text-decoration: none;
}

a#SSProxyMessageVisit:hover {
	background: url(../images/Proxy/SSProxyMessage_arrow.png) 0 94px;
}