body {
    background: #F8F5F2;
    text-align: center;
    margin: 16px;
}

a {
    color: #F63B02;
}

a:hover {
    color: #000;
}

h1 {
    font: 18px helvetica, arial, verdana, sans-serif;
    margin: 0;
}

h2 {
    font: bold 18px helvetica, arial, verdana, sans-serif;
    margin: 8px 0 16px 0;
}

#main {
    width: 600px;
    background: #FFF;
    margin: 0 auto;
    padding: 32px 32px 24px 32px;
    text-align: left;
}

#details {
    font: 12px/18px verdana, sans-serif;
}

p {
    margin: 8px 0;
}

pre {
    color: #444;
    margin: 8px 16px;
}

ol li {
    list-style: lower-alpha;
}

.accept {
    padding: 8px 16px 8px 32px;
    background: #E0FFE1 url(../images/status/accept.png) no-repeat 8px 8px;
}

.error {
    padding: 8px 16px 8px 32px;
    background: #FFE7E0 url(../images/status/error.png) no-repeat 8px 8px;
}

.info {
    border: 1px solid #C7B29A;
    margin-top: 16px;
    padding: 16px 16px 16px 32px;
    background: #F8F5F2 url(../images/status/shiftspace.png) no-repeat 4px 8px;
}

.error p {
    margin: 0;
}

.awesome {
    display: block;
    margin: 16px 0;
}
