<head>
  <style type="text/css">
    div.SSSubBox {
      font: 12px verdana, sans-serif;
      background-color: #F5DB7B;
      padding:  5px 5px 5px 5px;
      color: #000;
    }
    .SSHeader {
      font-weight: bold;
      padding: 10px 0px 0px 0px;
      color: #000;
    }
  </style>
</head>
<div>
<center>
<b class='SSHeader' fisheyeText='settings'> </b> <b class='SSHeader' fisheyeUserName='fisheyeUserName'> </b>
</center>
<div class='SSHeader'> <b class='SSHeader' fisheyeText='settingsCat'> </b> </div>
<div class='SSSubBox' fisheyeFunc='fillCriticismCategories'> </div>
<div class='SSHeader'>
<b class='SSHeader' fisheyeText='settingsIgnoredSources'> </b> <a fisheyeText='clickToRestore'> </a>
</div>
<div class='SSSubBox' fisheyeFunc='fillIgnoredSources'> </div>
<div class='SSHeader'>
<b class='SSHeader' fisheyeText='settingsIgnoredAuthors'> </b> <a fisheyeText='clickToRestore'> </a>
</div>
<div class='SSSubBox' fisheyeFunc='fillIgnoredAuthors'> </div>
<div class='SSHeader'> <b class='SSHeader' fisheyeText='language'> </b> </div>
<div class='SSSubBox' fisheyeFunc='fillLanguages'> </div>
</div>
